<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" 
 integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" 
 crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
 <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/admake-mini-cart.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/insta.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/bootstrap.js?u=1"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/pace.min.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/owl.carousel.min.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/menu-responsivo.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/advanced-filter.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/header.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/ag-default.js"></script>
 <script src="https://altogirorc.vteximg.com.br/arquivos/global.js"></script>