<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
 <link rel="shortcut icon" href="/arquivos/altogirorc-favicon.ico" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://altogirorc.vteximg.com.br/arquivos/jquery-ui.min.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

<link href="https://altogirorc.vteximg.com.br/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="https://altogirorc.vteximg.com.br/arquivos/ag-style.css" rel="stylesheet" type="text/css" />
<link href="https://altogirorc.vteximg.com.br/arquivos/global.css" rel="stylesheet" type="text/css" />

<style>
    /* .toolbar__header { background: #fae9e9; padding: 8px 0; text-align: center } */
    
    /* .toolbar__header { background: #191717; padding: 8px 0; text-align: center; color: #fff; }
    .toolbar__header span { font-size: 11px; display: inline-block; }
    .toolbar__header a { display: inline-block; margin-left: 6px }
    .toolbar__header a img { width: 80px }
    
    @media only screen and (min-width: 1024px) {
        .toolbar__header { text-align: left }
        .toolbar__header span { margin-left: 24px }
    } */
    
    .header-menu .header-menu-user { background-color: #fff } 
    .header-menu .header-menu-container:after { display: none } 
    #top-pix {
            float: right;
        }
    @media only screen and (min-width: 1024px) {
        .submenu-list { top: 94px !important }
    }
    @media only screen and (max-width: 650px) {
        #main, body {
            margin-top:50px !important
        }
        
        #product-page {
            margin-top:102px !important
        }
        
        #top-pix {
            float: unset;
            display: block;
        }
    }
</style>