<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
 <style>
  .popCookies.openned {
      display: flex !important;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #000;
      padding: 10px;
      z-index: 999999999;
  }
  
  .popCookies__content {
      display: inline-flex;
  }
  .popCookies__content p, .popCookies__content a {
      color: #fff;
  }
  .popCookies__content button {
      transition: unset;
  margin-left:20px;
  }
  .float{
    position:fixed;
    width:50px;
    height:50px;
    bottom:29px;
    right:28px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-float{
    margin-top:11px;
  }
  
  #footer img {
      max-height: 60px;
  }
  
  #footer .row-footer {
      font-size: 12px;
      line-height: 18px;
  }
  
  body[data-qd-infinity-scroll] .float {
      bottom:100px;
  }
  </style>
  <footer id="footer">
      <div class="row-footer container wrapper gap30">
          <div class="span3 m-span5 s-span12">
              <img src="/arquivos/logo-altogiro-white.svg" alt="Alto Giro" width="128" height="20" />
              <p class="mt-20">Referência na confecção de roupas fitness há mais de três décadas, a Alto Giro sempre
  esteve em busca de oferecer o que há de melhor em tecnologia e beleza aos nossos
  clientes e parceiros. Afinal, você merece peças bonitas, confortáveis e seguras para te
  acompanhar no dia a dia, seja na academia ou em qualquer outra atividade.</p>
              <ul class="list-inline">
                  <li>
                      <a href="https://www.facebook.com/altogirooficial" target="_blank"><img src="/arquivos/icon-facebook.svg"
                              alt="Facebook" width="30" height="30" /></a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/altogiro/" target="_blank"><img src="/arquivos/icon-instagram.svg"
                              alt="Instagram" width="30" height="30" /></a>
                  </li>
                  <li>
                      <a href="https://www.youtube.com/user/altogirooficial" target="_blank"><img src="/arquivos/icon-youtube.svg"
                              alt="Youtube" width="30" height="30" /></a>
                  </li>
              </ul>
          </div>
          <div class="span1 hide-only-small"></div>
          <div class="span2 m-span3 s-span4">
              <h3>A Alto Giro</h3>
              <ul class="list">
                  <li><a href="/nossas-lojas">Nossas lojas</a></li>
                  <li><a href="/seja-revendedor">Seja um revendedor</a></li>
                  <li><a href="/sobre-a-marca">Sobre a marca</a></li>
              </ul>
          </div>
          <div class="span2 m-span3 s-span4">
              <h3>Atendimento</h3>
              <ul class="list">
                  <li><a href="/perguntas-frequentes">Perguntas frequentes</a></li>
                  <li><a href="/trocas-e-devolucoes">Trocas e devoluções</a></li>
                  <li><a href="/pagamento">Pagamento</a></li>
                  <li><a href="/entrega">Entrega</a></li>
                  <li><a href="/privacidade">Privacidade</a></li>
              </ul>
          </div>
          <div class="span3 m-span12 s-span4">
              <h3>Contato</h3>
              <ul class="list list-no-links">
                  <li>De segunda a sexta-feira: <br /> das 8h às 18h</li>
                  <li>Fone: (44) 3033-0106</li>
                  <!--<li>
                      <a href='https://api.whatsapp.com/send?1=pt_BR&amp;phone=5544999351237' class="btn btn-invert"
                          target="_blank">
                          <img src="/arquivos/icon-whatssapp.svg" alt="WhatsApp"></img>
                          Fale com a gente agora
                      </a>
                  </li>-->
              </ul>
          </div>
          <div class="span1"></div>
      </div>
      <div class="divisor-row-footer"></div>
      <div class="row-footer container wrapper gap30">
      <!--
          <div class="span5 s-span12">
              <h3>Formas de pagamentos</h3>
              <img src="/arquivos/image-bandeiras-cartao.png"></img>
          </div>
          <div class="span1 hide-only-small"></div>
          -->
          <div class="span5 s-span12">
              <h3>Segurança</h3>
              <ul class="list-security list-inline">
                  <li>
                      <a href="http://secure.vtex.com/?an=td0295" target="_blank">
                        <img src="//io.vtex.com.br/front-libs/assets/pci/vtex-pci-100.png" alt="VTEX PCI Certified" width="97" height="60" />
                      </a>
                  </li>
                  <li>
                      <a id="seloEbit" href="http://www.ebit.com.br/99456" target="_blank" onclick="redir(this.href);"></a>
                  </li>
              </ul>
          </div>
          <div class="span1 hide-only-small"></div>
      </div>
      <div class="copy text-center">
          <vtex.cmc:copyright />
      </div>
      <div>
          <div>
              <a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=554499351237" class="float" target="_blank">
              <img src="/arquivos/icon-whatssapp-white.svg" alt="WhatsApp" class="my-float" width="30" height="30" />
              </a>
          </div>
          <div id="footer-popCookies" class="popCookies" style="display:none;">
              <div class="popCookies__content">
                  <p>Nós utilizamos cookies e outras tecnologias para melhorar sua experiência, ao utilizar a Plataforma você concorda com a  
                      <a href="https://www.altogiro.net/privacidade" target="_blank">Política de Privacidade</a>.
                      <button id="popCookies-btn">Estou Ciente</button>
                  </p>
              </div>
          </div>
      </div>
  
      
      <script type="text/javascript">
      /* <![CDATA[ */
      function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
      
      function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i = 0; i <ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        console.log(ca);
        return "";
      }
      
      $(document).ready(function() {
          if (getCookie('privacidade') == ""){
      $("#footer-popCookies").addClass("openned");
          }
      $('#popCookies-btn').on('click', function() {
      setCookie('privacidade', 'privacidade', 7);
      $("#footer-popCookies").removeClass("openned");
      });
      });
      /* ]]> */
      </script>
      <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?99456"> </script>
  </footer>