<header id="header" class="header">
    <div class="row row-01">
        <div class="container container-no-padding">
            <div class="carousel-promo">
                <strong>10% OFF na primeira compra</strong>
                <strong>5% OFF com PIX</strong>
            </div>
        </div>
    </div>
    <div class="row row-02">
        <div class="container">
            <div class="logo">
                <button onclick="openMenuMobile()" class="hide-desktop">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </button>
                <a href="/" title="Ir para a página inicial">
                    <img src="/arquivos/logo-altogiro.png" alt="Logo Alto Giro" width="200" height="30" class="hide-mobile" />
                    <img src="/arquivos/logo-altogiro-mobile.svg" alt="Logo Alto Giro" width="63" height="30" class="hide-desktop" />
                </a>
            </div>
            <div class="menu main-menu">
                <nav>
                    <ul>
                        <li>
                            <a class="hasSubmenu">Novidades</a>
                            <div class="submenu">
                                <div class="container columns columns-03 columns-categories">
                                    <div class="collumn">
                                        <a href="/lancamentos?O=OrderByReleaseDateDESC">
                                            <img src="/arquivos/menu-categoria-novos-produtos.jpg" alt="Novos Produtos Alto Giro" />
                                            <p class="h3">Novos Produtos</p>
                                            <button class="btn btn-lg btn-link-header">
                                                ver produtos <i class="fa-solid fa-arrow-right fa-lg"></i>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="collumn">
                                        <a href="/feminino/collab/sabrina-sato?O=OrderByReleaseDateDESC">
                                            <img src="/arquivos/menu-categoria-sabrina-sato.jpg" alt="Coleção Sabrina Sato" />
                                            <p class="h3">Sabrina Sato</p>
                                            <button class="btn btn-lg btn-link-header">
                                                ver coleção <i class="fa-solid fa-arrow-right fa-lg"></i>
                                            </button>
                                        </a>
                                    </div>
                                    <div class="collumn">
                                        <a href="/feminino/collab/thassia-naves?O=OrderByReleaseDateDESC">
                                            <img src="/arquivos/menu-categoria-thassia-naves.jpg" alt="Coleção Thássia Naves" />
                                            <p class="h3">Thássia Naves</p>
                                            <button class="btn btn-lg btn-link-header">
                                                ver coleção <i class="fa-solid fa-arrow-right fa-lg"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="hasSubmenu">Feminino</a>
                            <div class="submenu">
                                <div class="container columns columns-05">
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/feminino/fitness">Fitness</a>
                                            </li>
                                            <li><a href="/feminino/fitness/cropped---tops">Croppeds e Tops</a></li>
                                            <li><a href="/feminino/fitness/regatas">Camisetas e Regatas</a></li>
                                            <li><a href="/feminino/fitness/shorts---bermudas">Shorts e Bermudas</a></li>
                                            <li><a href="/feminino/fitness/leggings">Leggings</a></li>
                                            <li><a href="/feminino/fitness/calcas">Calças</a></li>
                                            <li><a href="/feminino/fitness/moletom">Moletons</a></li>
                                            <li><a href="/feminino/fitness/jaquetas---coletes">Jaquetas</a></li>
                                            <li><a href="/feminino/fitness/macacao">Macacão</a></li>
                                            <li class="see-all"><a href="/feminino/fitness">ver tudo</a></li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/feminino/collab">Coleções</a>
                                            </li>
                                            <li><a href="/feminino/collab/sabrina-sato?O=OrderByReleaseDateDESC">Sabrina Sato</a></li>
                                            <li><a href="/feminino/collab/thassia-naves?O=OrderByReleaseDateDESC">Thássia Naves</a></li>
                                            <li><a href="/colecao-04">Coleção.04</a></li>
                                            <li class="see-all"><a href="/feminino/collab">ver tudo</a></li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/feminino/acessorios">Acessórios</a>
                                            </li>
                                            <li><a href="/feminino/acessorios/headband">Headband</a></li>
                                            <li><a href="/feminino/acessorios/viseira">Viseira</a></li>
                                            <li><a href="/feminino/acessorios/garrafa">Garrafa</a></li>
                                            <li><a href="/feminino/acessorios/munhequeira">Munhequeira</a></li>
                                            <li><a href="/feminino/acessorios/bolsas">Bolsa</a></li>
                                            <li class="see-all"><a href="/feminino/fitness/acessorios">ver tudo</a></li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/lancamentos?O=OrderByReleaseDateDESC">Lançamentos</a>
                                            </li>
                                            <li class="title">
                                                <a href="/feminino?O=OrderByTopSaleDESC">Mais vendidos</a>
                                            </li>
                                            <li class="title">
                                                <a href="/looks">Conjuntos</a>
                                            </li>
                                            <li class="title">
                                                <a href="/feminino/ag-60">+60</a>
                                            </li>
                                            <li class="title">
                                                <a href="/feminino/fitness/plus-size">Plus Size</a>
                                            </li>
                                            <li class="title">
                                                <a href="/sale/feminino">Sale</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <a href="/feminino?O=OrderByReleaseDateDESC">
                                            <img src="/arquivos/menu-categoria-feminino.jpg" alt="Novos produtos da categoria Feminino" />
                                            <p class="h3">Novos Produtos</p>
                                            <button class="btn btn-lg btn-link-header">
                                                ver mais <i class="fa-solid fa-arrow-right fa-lg"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <div class="container all">
                                    <a href="/feminino">
                                        ver todos os produtos <i class="fa-solid fa-arrow-right fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="hasSubmenu">Masculino</a>
                            <div class="submenu">
                                <div class="container columns columns-03">
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/masculino">Masculino</a>
                                            </li>
                                            <li><a href="/masculino/camisetas">Camisetas</a></li>
                                            <li><a href="/masculino/regatas">Regatas</a></li>
                                            <li><a href="/masculino/calcas">Calças</a></li>
                                            <li><a href="/masculino/bermudas">Bermudas</a></li>
                                            <li><a href="/masculino/shorts">Shorts</a></li>
                                            <li><a href="/masculino/jaquetas">Jaquetas</a></li>
                                            <li><a href="/masculino/moletom">Moletom</a></li>
                                            <li class="see-all"><a href="/masculino">ver tudo</a></li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/masculino?O=OrderByReleaseDateDESC">Lançamentos</a>
                                            </li>
                                            <li class="title">
                                                <a href="/masculino?O=OrderByTopSaleDESC">Mais vendidos</a>
                                            </li>
                                            <li class="title">
                                                <a href="/sale/masculino">Sale</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <a href="/masculino?O=OrderByReleaseDateDESC">
                                            <img src="/arquivos/menu-categoria-masculino.jpg" alt="Novos produtos categoria Masculino" />
                                            <p class="h3">Novos Produtos</p>
                                            <button class="btn btn-lg btn-link-header">
                                                ver mais <i class="fa-solid fa-arrow-right fa-lg"></i>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                                <div class="container all">
                                    <a href="/masculino">
                                        ver todos os produtos <i class="fa-solid fa-arrow-right fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="hasSubmenu">Sale</a>
                            <div class="submenu">
                                <div class="container columns columns-05">
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/sale/feminino">Feminino</a>
                                            </li>
                                            <li><a href="/sale/feminino/top">Top</a></li>
                                            <li><a href="/sale/feminino/leggings">Legging</a></li>
                                            <li><a href="/sale/feminino/cropped">Cropped</a></li>
                                            <li><a href="/sale/feminino/regata">Regata</a></li>
                                            <li><a href="/sale/feminino/t-shirt">T-Shirts</a></li>
                                            <li><a href="/sale/feminino/short">Shorts</a></li>
                                            <li><a href="/sale/feminino/bermuda">Bermuda</a></li>
                                            <li class="see-all"><a href="/sale/feminino">Ver tudo</a></li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/sale/praia">Praia</a>
                                            </li>
                                            <li><a href="/sale/praia/biquini">Biquíni</a></li>
                                            <li><a href="/sale/praia/maio">Maiô</a></li>
                                            <li><a href="/sale/praia/vestido">Vestido</a></li>
                                            <li class="see-all"><a href="/sale/praia">Ver tudo</a></li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/sale/masculino">Masculino</a>
                                            </li>
                                            <li><a href="/sale/masculino/regata">Regata</a></li>
                                            <li><a href="/sale/masculino/jaqueta">Jaqueta</a></li>
                                            <li><a href="/sale/masculino/camiseta">Camiseta</a></li>
                                            <li class="see-all"><a href="/sale/masculino">Ver tudo</a></li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/sale/acessorios">Acessórios</a>
                                            </li>
                                            <li><a href="/sale/acessorios/amarrador">Amarrador</a></li>
                                            <li><a href="/sale/acessorios/bolsa">Bolsa</a></li>
                                            <li><a href="/sale/acessorios/meia">Meia</a></li>
                                            <li><a href="/sale/acessorios/meiao">Meião</a></li>
                                            <li><a href="/sale/acessorios/tiara">Tiara</a></li>
                                            <li class="see-all"><a href="/sale/acessorios">Ver tudo</a></li>
                                        </ul>
                                    </div>
                                    <div class="collumn">
                                        <ul>
                                            <li class="title">
                                                <a href="/sale/ate-50-off">Até 50% OFF</a>
                                            </li>
                                            <li class="title">
                                                <a href="/sale/ate-30-off">Até 30% OFF</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="container all">
                                    <a href="/sale">
                                        ver todos os produtos <i class="fa-solid fa-arrow-right fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="menu user-menu">
                <nav>
                    <ul>
                        <li>
                            <button onclick="openSearch()"><i class="fa fa-search fa-xl"></i></button>
                        </li>
                        <li>
                            <a href="/account"><i class="fa fa-user-circle fa-xl"></i></a>
                        </li>
                        <li>
                            <button onclick="openMinicart()">
                                <span class="mini-cart-2022 mini-cart-2022-quantity">0</span>
                                <i class="fa fa-shopping-bag fa-xl"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="search">
        <div class="container">
            <form onsubmit="document.location.href = this.q.value; return false;" class="form">
                <vtex.cmc:fullTextSearchBox/>
            </form>
            <button onclick="closeSearch()">
                <i class="fa-solid fa-xmark fa-xl"></i>
            </button>
        </div>
    </div>
    <div class="mini-cart mini-cart-2022-container">
        <header class="mini-cart-header">
            <h2>Minha sacola</h2>
            <button class="close" onclick="closeMinicart()">
                <i class="fa-solid fa-xmark fa-xl"></i>
            </button>
        </header>
        <main class="mini-cart-items">
        </main>
        <div class="mini-cart-total">
            <span class="label">Total:</span>
            <h2 class="value"></h2>
        </div>
        <footer class="mini-cart-footer">
            <button class="closeMinicart btn btn-sm btn-outline-black" onclick="closeMinicart()">
                Continuar comprando
            </button>
            <a class="btn btn-sm btn-default-black" href="/checkout">
                Finalizar compra
            </a>
        </footer>
    </div>
    <div class="overlay"></div>
</header>