<header id="header">
  <div class="header-menu">

    <div class="toolbar__header">
      <div class="container hide-only-small">
        <div class="left">
          Veja também <a href="http://www.newbeach.com.br/" target="_blank"><img src="/arquivos/newbeach-logo.png?v=637647381355070000" alt="New Beach - Moda Praia" width="80" height="14" /></a>
        </div>
        <div class="mid">
          <div>10% OFF NA 1° COMPRA, USE O CUPOM AG10</div>
        </div>
        <div class="right">
          <div>USE PIX E GANHE 5% OFF NAS SUAS COMPRAS</div>
          <div>FRETE GRÁTIS NAS COMPRAS ACIMA DE R$ 599,90</div>
        </div>
      </div>

      <div class="container mobile show-only-small">
        <div class="all">
          <div>10% OFF NA 1° COMPRA, USE O CUPOM AG10</div>
          <div>USE PIX E GANHE 5% OFF NAS SUAS COMPRAS</div>
          <div>FRETE GRÁTIS NAS COMPRAS ACIMA DE R$ 599,90</div>
          <div>Veja também <a href="http://www.newbeach.com.br/" target="_blank"><img src="/arquivos/newbeach-logo.png?v=637647381355070000" alt="New Beach - Moda Praia" width="80" height="14" /></a></div>
        </div>
      </div>
    </div>
        
    <div class="header-menu-container new-header-menu-container">
      <div class="header-logo">
        <div class="show-only-small">
          <a href="/">
            <img src="/arquivos/logo-altogiro-mobile.svg" alt="Alto Giro" width="63" height="30" />
          </a>
        </div>
        <div class="hide-only-small">
          <a href="/" title="Ir para a página inicial">
            <img src="/arquivos/logo-altogiro.png" alt="Logo Alto Giro" class="logo" width="200" height="31" />
          </a>
        </div>
      </div>
      <div class="header-menu">
        <div class="ismobile show-only-small" onclick="toggleOpenMenuMobile()">
          <span class="fa fa-bars"></span>
        </div>
        <div class="show-only-small" onclick="toggleSubMenuSearch()">
            <img src="/arquivos/icon-search.svg" width="19" height="18" />
        </div>
        <nav class="nav-menu">
          <ul class="menu-list" pwa-hook="ativar-menu">
            <li class="menu-item">
              <a href="/lancamentos?O=OrderByReleaseDateDESC"><strong>Lançamentos</strong></a>
            </li>
            <li class="menu-item has-sub-menu" onclick="openSubMenuMobile(this)">
              <a class="menu-item-title" href="/feminino" pwa-hook.click="close-menu-mobile">Feminino</a>
              <span class="fa fa-chevron-down ismobile"></span>
              <div class="submenu-list">
                <div class="container-submenu-list container wrapper">
                  <div class="item-container-submenu-list span2 s-span12 active" id="subFemininoFitness">
                    <div class="title-submenu-list" href="/feminino/fitness">Fitness <img src="/arquivos/icon-arrow-right.svg" width="17" height="11" /></div>
                    <ul class="list-subitens list">
                      <li><a href="/feminino/fitness/cropped---tops" pwa-hook.click="close-menu-mobile">Cropped / Tops</a></li>
                      <li><a href="/feminino/fitness/jaquetas---coletes" pwa-hook.click="close-menu-mobile">Jaquetas</a></li>
                      <li><a href="/feminino/fitness/calcas" pwa-hook.click="close-menu-mobile">Calças</a></li>
                      <li><a href="/feminino/fitness/leggings" pwa-hook.click="close-menu-mobile">Leggings</a></li>
                      <li><a href="/feminino/fitness/regatas" pwa-hook.click="close-menu-mobile">Regatas</a></li>
                      <li><a href="/feminino/fitness/saias" pwa-hook.click="close-menu-mobile">Saias</a></li>
                      <li><a href="/feminino/fitness/t-shirts" pwa-hook.click="close-menu-mobile">T-Shirts</a></li>
                      <li><a href="/feminino/fitness/plus-size" pwa-hook.click="close-menu-mobile">Plus Size</a></li>
                      <li><a href="/feminino/fitness/macacao" pwa-hook.click="close-menu-mobile">Macacão</a></li>
                      <li><a href="/feminino/fitness/shorts---bermudas" pwa-hook.click="close-menu-mobile">Shorts / Bermudas</a></li>
                      <li><a href="/feminino/fitness/moletom" pwa-hook.click="close-menu-mobile">Moletom</a></li>
                    </ul>
                  </div>
                  <div class="item-container-submenu-list span2 s-span12">
                    <div class="title-submenu-list" pwa-hook.click="close-menu-mobile" href="/feminino/ag-beach">AG Beach <img src="/arquivos/icon-arrow-right.svg" width="17" height="11" /></div>
                    <ul class="list-subitens list">
                      <li><a href="/feminino/ag-beach/biquinis" pwa-hook.click="close-menu-mobile">Biquínis</a></li>
                      <li><a href="/feminino/ag-beach/maios" pwa-hook.click="close-menu-mobile">Maiôs</a></li>
                      <li><a href="/feminino/ag-beach/busto--personalize-seu-look-" pwa-hook.click="close-menu-mobile">Busto</a></li>
                      <li><a href="/feminino/ag-beach/tangas--personalize-seu-look-" pwa-hook.click="close-menu-mobile">Tangas</a></li>
                    </ul>
                  </div>
                  <div class="item-container-submenu-list span2 s-span12">
                    <div class="title-submenu-list" href="/feminino/collab">Collab <img src="/arquivos/icon-arrow-right.svg" width="17" height="11" /></div>
                    <ul class="list-subitens list">
                      <li><a href="/feminino/collab/sabrina-sato" pwa-hook.click="close-menu-mobile">Sabrina Sato</a></li>
                      <li><a href="/feminino/collab/thassia-naves" pwa-hook.click="close-menu-mobile">Thassia Naves</a></li>
                    </ul>
                  </div>
                  <div class="item-container-submenu-list span2 s-span12">
                    <div class="title-submenu-list" pwa-hook.click="close-menu-mobile">
                      <a href="/feminino/ag-60">AG 60+</a>
                    </div>
                  </div>
                  <div class="item-container-submenu-list span2 s-span12">
                    <div class="title-submenu-list" pwa-hook.click="close-menu-mobile">
                      <a href="/feminino/fitness/acessorios">Acessórios</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu-item has-sub-menu" onclick="openSubMenuMobile(this)">
              <a href="/masculino" pwa-hook.click="close-menu-mobile">Masculino</a>
              <span class="fa fa-chevron-down ismobile"></span>
              <div class="submenu-list">
                <div class="container-submenu-list container wrapper">
                  <div class="item-container-submenu-list span3 s-span12 active" id="subFemininoFitness">
                    <div class="title-submenu-list" href="/masculino">Menswear <img src="/arquivos/icon-arrow-right.svg" width="17" height="11" /></div>
                    <ul class="list-subitens list">
                      <li><a href="/masculino/calcas" pwa-hook.click="close-menu-mobile">Calças</a></li>
                      <li><a href="/masculino/bermudas" pwa-hook.click="close-menu-mobile">Bermudas</a></li>
                      <li><a href="/masculino/shorts" pwa-hook.click="close-menu-mobile">Shorts</a></li>
                      <li><a href="/masculino/camisetas" pwa-hook.click="close-menu-mobile">Camisetas</a></li>
                      <li><a href="/masculino/regatas" pwa-hook.click="close-menu-mobile">Regatas</a></li>
                      <li><a href="/masculino/jaquetas" pwa-hook.click="close-menu-mobile">Jaquetas</a></li>
                      <li><a href="/masculino/moletom" pwa-hook.click="close-menu-mobile">Moletom</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="menu-item">
              <a href="/feminino/beach-tennis?O=OrderByReleaseDateDESC">TN Thássia Naves</a>
            </li>
            <li class="menu-item has-sub-menu" onclick="openSubMenuMobile(this)">
              <a href="/sale">Sale</a>
              <span class="fa fa-chevron-down ismobile"></span>
              <div class="submenu-list">
                <div class="container-submenu-list container wrapper">
                  <div class="item-container-submenu-list span3 s-span12 active" id="subFemininoFitness">
                    <div class="title-submenu-list" href="/sale/feminino">Feminino <img src="/arquivos/icon-arrow-right.svg" width="17" height="11" /></div>
                    <ul class="list-subitens list">
                      <li><a href="/sale/feminino/bermudas" pwa-hook.click="close-menu-mobile">Bermudas</a></li>
                      <li><a href="/sale/feminino/blusas" pwa-hook.click="close-menu-mobile">Blusas</a></li>
                      <li><a href="/sale/feminino/calcas" pwa-hook.click="close-menu-mobile">Calças</a></li>
                      <li><a href="/sale/feminino/camisetas" pwa-hook.click="close-menu-mobile">Camisetas</a></li>
                      <li><a href="/sale/feminino/cropped" pwa-hook.click="close-menu-mobile">Croppeds</a></li>
                      <li><a href="/sale/feminino/jaquetas" pwa-hook.click="close-menu-mobile">Jaquetas</a></li>
                      <li><a href="/sale/feminino/leggings" pwa-hook.click="close-menu-mobile">Leggings</a></li>
                      <li><a href="/sale/feminino/regatas" pwa-hook.click="close-menu-mobile">Regatas</a></li>
                      <li><a href="/sale/feminino/shorts" pwa-hook.click="close-menu-mobile">Shorts</a></li>
                      <li><a href="/sale/feminino/tops" pwa-hook.click="close-menu-mobile">Tops</a></li>
                      <li><a href="/sale/feminino/t-shirt" pwa-hook.click="close-menu-mobile">T-shirt</a></li>
                    </ul>
                  </div>
                  <div class="item-container-submenu-list span3 s-span12" id="subFemininoFitness">
                    <div class="title-submenu-list"><a href="/sale/masculino">Masculino</a></div>
                  </div>
                  <div class="item-container-submenu-list span3 s-span12" id="subFemininoFitness">
                    <div class="title-submenu-list"><a href="/sale/ag-free">AG FREE</a></div>
                  </div>
                  <div class="item-container-submenu-list span3 s-span12" id="subFemininoFitness">
                    <div class="title-submenu-list"><a href="/sale/ate-15-off">Até 15% off</a></div>
                    <div class="title-submenu-list"><a href="/sale/ate-20-off">Até 20% off</a></div>
                    <div class="title-submenu-list"><a href="/sale/ate-30-off">Até 30% off</a></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-menu-user">
        <ul class="menu-list">
          <li class="menu-item hide-only-small" id="btn-search" onclick="openSubmenuSearch()">
            <img src="/arquivos/icon-search.svg" width="19" height="18" />
          </li>
          <li class="menu-item hide-only-small" href="/account-wishlist">
            <img src="/arquivos/icon-heart.svg" width="20" height="17" />
          </li>
          <li class="mini-cart col-mini-cart col-xs-1 col-sm-1 col-md-3 col-lg-2 hidden-xs menu-item icon-bag">
            <a title="Carrinho de Compras" href="/checkout/#/cart" class="btn-mini-cart">
              <img src="/arquivos/icon-bag.svg" width="17" height="18" />
              <span class="label-cart mini-cart-qty-admake">0</span>
            </a>
            <div id="mini-cart-admake-aux" class="hidden">
              <vtex.cmc:miniCart />
              <vtex.cmc:AmountItemsInCart />
            </div>
            <div id="mini-cart-admake" style="display: none;">
              <div class="mini-cart-header"></div>
              <div class="mini-cart-itens"></div>
              <div class="mini-cart-footer">
                <div class="mini-cart-totais">
                  <strong id="mini-cart-admake-total" class="pull-right"></strong>
                  <span>Total</span>
                </div>
                <div class="mini-cart-botao">
                  <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Fechar Pedido</a>
                </div>
              </div>
            </div>
            <div id="overlay-minicart-admake" class="lf-cart__darken"></div>
          </li>
          <li class="menu-item">
            <a href="/account"><img src="/arquivos/icon-user.svg" width="18" height="18" /></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</header>