<section class="block-newsletter bcg-gray">
  <div class="container-block-newsletter">
      <h5>Quer receber promoções e <br/> todas as nossas novidades?</h5>
      <form class="form-block-newsletter">
          <div class="input-container-block-newsletter">
              <label for="cNameNewsletter">Nome</label>
              <input name="name" id="cNameNewsletter" placeholder="Ex.: Vanessa Ferty" class="input-form"></input>
          </div>
          <div class="input-container-block-newsletter">
              <label for="cEmailNewsletter">Email</label>
              <input name="email" id="cEmailNewsletter" placeholder="Ex.: seuemail@email.com" class="input-form"></input>
          </div>
          <button type="submit" class="btn">Receber Novidades</button>
      </form>
  </div>
</section>