<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" 
 integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" 
 crossorigin="anonymous"></script>
 <script src="/arquivos/bootstrap.js?u=1"></script>
 <script src="/arquivos/pace.min.js"></script>
 <script src="/arquivos/owl.carousel.min.js"></script>
 <script src="/arquivos/menu-responsivo.js"></script>
 <script src="/arquivos/advanced-filter.js"></script>
 <script src="/arquivos/admake-mini-cart.js"></script>
 <script src="/arquivos/default.js"></script>