<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->
 <footer id="footer">
  <div class="row-footer container wrapper gap30">
      <div class="span3 m-span5 s-span12">
          <img src="/arquivos/logo-altogiro-white.svg" alt="Alto Giro"></img>
          <p class="mt-20">Referência na confecção de roupas fitness há mais de três décadas, a Alto Giro sempre
esteve em busca de oferecer o que há de melhor em tecnologia e beleza aos nossos
clientes e parceiros. Afinal, você merece peças bonitas, confortáveis e seguras para te
acompanhar no dia a dia, seja na academia ou em qualquer outra atividade.</p>
          <ul class="list-inline">
              <li>
                  <a href="https://www.facebook.com/altogirooficial" target="_blank"><img src="/arquivos/icon-facebook.svg"
                          alt="Facebook"></img></a>
              </li>
              <li>
                  <a href="https://www.instagram.com/altogiro/" target="_blank"><img src="/arquivos/icon-instagram.svg"
                          alt="Instagram"></img></a>
              </li>
              <li>
                  <a href="https://www.youtube.com/user/altogirooficial" target="_blank"><img src="/arquivos/icon-youtube.svg"
                          alt="Youtube"></img></a>
              </li>
          </ul>
      </div>
      <div class="span1 hide-only-small"></div>
      <div class="span2 m-span3 s-span12">
          <h3>A Alto Giro</h3>
          <ul class="list">
              <li><a href="nossas-lojas">Nossas lojas</a></li>
              <li><a href="seja-revendedor">Seja um revendedor</a></li>
              <li><a href="a-marca">Sobre a marca</a></li>
              <li><a href="#">Blog</a></li>
          </ul>
      </div>
      <div class="span2 m-span3 s-span12">
          <h3>Atendimento</h3>
          <ul class="list">
              <li><a href="perguntas-frequentes">Perguntas frequentes</a></li>
              <li><a href="trocas-e-devolucoes">Trocas e devoluções</a></li>
              <li><a href="pagamento">Pagamento</a></li>
              <li><a href="politica-de-entrega">Entrega</a></li>
              <li><a href="privacidade">Privacidade</a></li>
          </ul>
      </div>
      <div class="span3 m-span12">
          <h3>Contato</h3>
          <ul class="list list-no-links">
              <li>De segunda a sexta-feira: <br /> das 8h às 18h</li>
              <li>Fone: (44) 3033-0106</li>
              <li>
                  <a href='https://web.whatsapp.com/send?1=pt_BR&amp;phone=5544999351237' class="btn btn-invert"
                      target="_blank">
                      <img src="/arquivos/icon-whatssapp.svg" alt="WhatsApp"></img>
                      Fale com a gente agora
                  </a>
              </li>
          </ul>
      </div>
      <div class="span1"></div>
  </div>
  <div class="divisor-row-footer"></div>
  <div class="row-footer container wrapper gap30">
      <div class="span5 s-span12">
          <h3>Formas de pagamentos</h3>
          <img src="/arquivos/image-bandeiras-cartao.png"></img>
      </div>
      <div class="span1 hide-only-small"></div>
      <div class="span5 s-span12">
          <h3>Segurança</h3>
          <ul class="list-security list-inline">
              <li>
                  <a href="#">
                      <img pwa-src="selo-compra-segura"></img>
                  </a>
              </li>
              <!--<li>
                  <a href="#">
                      <img pwa-src="selo-ebit">
                  </a>
              </li>
              <li>
                  <a href="#">
                      <img pwa-src="selo-abcomm">
                  </a>
              </li>-->
          </ul>
      </div>
      <div class="span1 hide-only-small"></div>
  </div>
  <div class="copy text-center">
      <vtex.cmc:copyright />
  </div>
</footer>