<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
 
 <head>
     <vtex:metaTags/>
     <vtex:template id="AG-commonStyles" />
     <link href="/arquivos/perguntas-frequentes.css" rel="stylesheet" type="text/css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 </head>
 
 <body id="institucional-page">
 
     <div id="app">
     
         <vtex:template id="AG-Header" />
         
         <main id="ag-privacidade">
             <!-- SECTION BANNER -->
             <section class="block-header-pages">
                 <div id="ag-category-img-holder" class="background-block-header-pages hide-only-small">
                     <img src="/arquivos/banner-trocas-devolucoes.png"></img>
                 </div>
         
                 <div class="wrapper-block-header-pages">
                     <div class="container wrapper w-100">
                         <div class="content-block-header-pages span7 m-span10 s-span12">
         
                             <h1 class="title">POLÍTICA DE ENTREGA</h1>
                             <p class="description">
                                 O frete é calculado de acordo com o peso e volume da mercadoria, sendo informado antes da finalização do pedido. Trabalhamos com entregas realizadas via transportadora e correios..
                             </p>
         
                             <!-- SECTION LIST LINKS PAGE -->
                             <ul class="ag-list-pages">
                                 <div>
                                     <li><a pwa-to-page="/perguntas-frequentes">Perguntas frequêntes</a></li>
                                     <li><a pwa-to-page="/trocas-e-devolucoes">Trocas e devoluções</a></li>
                                     <li><a pwa-to-page="/pagamento">Pagamento</a></li>
                                 </div>
                                 
                                 <div>
                                     <li><a pwa-to-page="/entrega">Entrega</a></li>
                                     <li><a pwa-to-page="/privacidade">Privacidade</a></li>
                                     <li  id="ag-link-contact"><a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=554499351237" target="_blank">CONTATO <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                                 </div>
                             </ul>
                         </div>
                     </div>
                 </div>
             </section>
         
             <!-- SECTION EXCHANGES AND DEVOLUTIONS -->
             <section class="ag-devolution-exchanges container">
                 <div class="ag-devol__exchan-content">
                     <h2 class="ag-title-content">POLÍTICA DE ENTREGA</h2>
                     <p class="ag-desc-text">O frete é calculado de acordo com o peso e volume da mercadoria, sendo informado antes da finalização do pedido. Trabalhamos com entregas realizadas via transportadora e correios, dependendo de promoções e campanhas de frete grátis em nossas campanhas; onde os prazos serão informados antes da finalização do pedido e nos e-mails transacionais.</p>
         
                     <p class="ag-desc-text ag-mt--10">O prazo de entrega começa a ser contato a partir do despacho da mercadoria, assim que o pedido é faturado.</p>
                     
                     <p class="ag-desc-text">Serão feitas três tentativas de entrega no endereço informado pelo cliente, caso a entrega não seja realizada por ausência do cliente ou endereço incorreto, a mercadoria irá retornar para a nossa sede. Nestes casos o custo de reenvio será de inteira responsabilidade do cliente. Para um melhor controle do processo de entrega, enviamos o código de rastreamento para o e-mail cadastrado após a postagem da mercadoria. O acompanhamento da mercadoria através do código de rastreamento é de responsabilidade do cliente. Fique atento as informações no momento do cadastro.</p>
                 </div>
             </section>
         </main>
 
         <vtex:template id="AG-Footer" />
     </div>
 </body>
     <vtex:template id="AG-commonScripts" />
 </html>