<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
 
 <head>
     <vtex:contentPlaceHolder id="htmlSeo" />
     <vtex:template id="AG-commonStyles" />
     <meta name="google-site-verification" content="2lPwGzy2JrJdei4rFG4fHqrdOVJOBL07_X7VLoJZs6E" />
     <!-- css -->
     <link href="https://altogirorc.vteximg.com.br/arquivos/home.min.css?v=1636657434" rel="stylesheet" type="text/css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <style>
         .fullbanner:not(.owl-carousel) .box-banner:not(:first-child) {display: none};
         .fullbanner .owl-wrapper {
             max-height: 521px;
         }
     </style>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SportingGoodsStore",
            "name": "Alto Giro",
            "image": "https://mkt.altogiro.net/lojas-fisicas/alto-giro-matriz-loja-fisica.jpg",
            "@id": "https://www.altogiro.net/",
            "url": "https://www.altogiro.net",
            "telephone": "+554430330106",
            "priceRange": "$$$",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Rua Gaspar Ricardo, 471",
                "addressLocality": "Maringá",
                "addressRegion" : "Paraná",
                "postalCode": "87040-365",
                "addressCountry": "BR"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": -23.4224391,
                "longitude": -51.9099157
            },
            "openingHoursSpecification": [{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                ],
                "opens": "08:00",
                "closes": "18:00"
            },{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": "Saturday",
                "opens": "08:00",
                "closes": "13:00"
            },{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": "Saturday",
                "opens": "08:00",
                "closes": "13:00"
            }],
            "sameAs": [
                "https://www.facebook.com/altogirooficial",
                "https://www.instagram.com/altogiro/",
                "https://www.youtube.com/user/altogirooficial",
                "https://www.linkedin.com/company/alto-giro",
                "https://www.altogiro.net/"
            ] 
        }
    </script>
 </head>
 
 <body>
     <div id="app">
         <!--  SubTemplate: Header -->
         <vtex:template id="AG-Header" />
         <!-- /SubTemplate: Header -->
                     
         <main id="main" class="home-page when-mobile">
                     
             <div id="category-extra-middle"></div>
             
             <div class="fullbanner" style="display:none;">
                <vtex:contentPlaceHolder id="bannersegmentado" />
             </div>
             <!-- .fullbanner -->
             
                        <section class="container">
                            <h2 class="h2"><img src="/arquivos/estrela.png" alt="estrela" width="32" height="32" /> ALTO GIRO FAVORITES</h2>
                            <div class="showcase-default showcase-owl prateleira-lancamentos">
                                <vtex:contentPlaceHolder id="mais-vendidos" />
                            </div>
                        </section>
             
            <section class="ag-grid-collection-complet">
                <div class="container"><h1 class="h1">DESCUBRA UM NOVO CONCEITO EM MODA FITNESS</h1></div>
                <div class="container">
                    <div id="home-mosaic">
                        <div class="column column-1">
                            <div class="slider-pagination-container"></div>
                            <div class="slider-top">
                                <!-- <div class="slider"> -->
                                    <vtex:contentPlaceHolder id="home-mosaic-coluna-1-top" />
                                <!-- </div> -->
                            </div>
                            <div class="slider-bottom">
                                <!-- <div class="slider"> -->
                                    <vtex:contentPlaceHolder id="home-mosaic-coluna-1-bottom" />
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="column column-2">
                            <div class="slider-top">
                                <!-- <div class="slider"> -->
                                    <vtex:contentPlaceHolder id="home-mosaic-coluna-2-top" />
                                <!-- </div> -->
                            </div>
                            <div class="slider-bottom">
                                <!-- <div class="slider"> -->
                                    <vtex:contentPlaceHolder id="home-mosaic-coluna-2-bottom" />
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="column column-3">
                            <div class="slider-top">
                                <!-- <div class="slider"> -->
                                    <vtex:contentPlaceHolder id="home-mosaic-coluna-3-top" />
                                <!-- </div> -->
                            </div>
                            <div class="slider-bottom">
                                <!-- <div class="slider"> -->
                                    <vtex:contentPlaceHolder id="home-mosaic-coluna-3-bottom" />
                                <!-- </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
             
              <section class="block-columns-itens container wrapper">
                 <div class="block-columns-item span4 s-span12 text-center">
                     <a href="/feminino/fitness" style="text-decoration:none;">
                         <img src="/arquivos/banner-colecao-3-inverno-fitness-life.jpg" class="hover-effect" alt="Mulher roupa yoga"></img>
                         <h4>Fitness Life</h4>
                         <p>Mesmo de casa,<br /> faça acontecer.</p>
                     </a>
                 </div>
                  <div class="block-columns-item span4 s-span12 text-center">
                     <a href="/looks" style="text-decoration:none;">
                         <img src="/arquivos/banner-colecao-3-inverno-copie-o-look.jpg" class="hover-effect" alt="Mulher usando biquini"></img>
                         <h4>Copie o look!</h4>
                         <p>Chame de seu os looks das blogueiras<br /> Fun Fitness</p>
                     </a>
                 </div>
                 <div class="block-columns-item span4 s-span12 text-center">
                     <a href="/ag-free" style="text-decoration:none;">
                         <img src="/arquivos/banner-colecao-3-inverno-ag-free.jpg" class="hover-effect" alt="Mulher usando roupa fitness"></img>
                         <h4>AG FREE</h4>
                         <p>A sua rotina muito<br /> mais estilosa</p>
                     </a>
                 </div>
                
             </section>
             
             <div class="spacer80"></div>
 
             <section class="bcg-gray">
                 <div class="container wrapper">
                     <div class="span1 hide-only-small"></div>
                     <div class="span9 s-span12">
                         <div class="block-info-image block-info-image-left">
                             <a href="/feminino/fitness/plus-size" style="text-decoration:none;color:#000">
                                 <img src="/arquivos/banner-colecao-3-inverno-plus-size.jpg" class="hover-effect" alt="Mulher usando roupa fitness plus size"></img>
                                 <div class="block-info-image-content">
                                     <div class="title">
                                         <h2>Plus<br /> Size</h2>
                                     </div>
                                     <div class="description">
                                         <p>Tecnologia para vestir conforto e segurança.</p>
                                     </div>
                                 </div>
                             </a>
                         </div>
                     </div>
                     <div class="span2 hide-only-small"></div>
                 </div>
         
                 <div class="container wrapper">
                     <div class="span1 hide-only-small"></div>
                     <div class="span9 s-span12">
                         <div class="block-info-image block-info-image-right">
                             <a href="/yoga-lovers" style="text-decoration:none;color:#000">
                                 <img src="/arquivos/banner-colecao-3-inverno-gym-and-bike.jpg" class="hover-effect" alt="Mulher praticando yoga"></img>
                                 <div class="block-info-image-content">
                                     <div class="title">
                                         <h2>Gym &amp;<br /> Bike</h2>
                                     </div>
                                     <div class="description">
                                         <p>Toda a liberdade que a sua prática merece.</p>
                                     </div>
                                 </div>
                             </a>
                         </div>
                     </div>
                     <div class="span2 hide-only-small"></div>
                 </div>
             </section>
             <div class="spacer80"></div>
             <section class="container">
                 <div class="showcase-default showcase-owl prateleira-lancamentos">
                    <h2 class="h2"><img src="/arquivos/logo-altogiro-mobile.svg?v=637465718781170000" alt="Alto Giro" width="63" height="30" /> LOOKS QUE ENCANTAM</h2>
                     <vtex:contentPlaceHolder id="Lançamentos" />
                 </div>
             </section>
             <div class="spacer80"></div>
             <!--<section class="block-video-fullwidth">
                 <a class="glightbox banner-large" href="https://www.youtube.com/watch?v=6G7VuxfeYrU">
                     <img class="background-block-video-fullwidth hover-effect" src="/arquivos/banner-sabrina-video.jpg"></img>
                 </a>
             </section> -->
             
            <section class="container home-new-footer-banner">
                <div class="banner-1">
                    <vtex:contentPlaceHolder id="banner-footer-1" />
                </div>
                <div class="banner-2">
                    <vtex:contentPlaceHolder id="banner-footer-2" />
                </div>
            </section>
            <div class="spacer80" style="display:none"></div>

             <!-- <div class="fullbanner">
                 <vtex:contentPlaceHolder id="bannervideo" />
             </div> -->

             <div class="spacer120"></div>
             <section class="block-instagram">
                 <div class="container">
                     <div class="block-instagram-head">
                         <h2 class="title">COMUNIDADE #FUNFITNESS</h2>
                         <p class="user">@altogiro</p>
                     </div>
                 </div>
                 <!--<ul id="instagram-feed"></ul>-->
                     <div id="instafeed"></div>
             </section>
             <!--<vtex:template id="AG-Newsletter" /> -->
             <div class="spacer80"></div>
         </main><!-- #content -->  
                     
         <!--  SubTemplate: Footer -->
         <vtex:template id="AG-Footer" />
         <!-- /SubTemplate: Footer -->
     
     </div><!-- .container-fluid -->
 </body>
     <vtex:template id="AG-commonScripts" />
     <!-- <script src="https://altogirorc.vteximg.com.br/arquivos/home.js?v=1636724218"></script> -->
     <!--<script src="https://altogirorc.vteximg.com.br/arquivos/instafeed.min.js?v=1630510766"></script>-->
     <script src="https://cdn.rawgit.com/stevenschobert/instafeed.js/master/dist/instafeed.min.js" rel="preconnect"></script>
     <script src="https://altogirorc.vteximg.com.br/arquivos/ag-instagram.min.js?v=1632940685" rel="preconnect"></script>
     <script src="https://altogirorc.vteximg.com.br/arquivos/home.js?v=1638988745"></script>
 </html>