<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
  <head>
    <vtex:contentPlaceHolder id="htmlSeo" />
    <vtex:metaTags/>
    <vtex:template id="AG-commonStyles" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body id="departament-page">
    <div id="main" class="when-mobile">
      <!--  SubTemplate: Header -->
        <vtex:template id="AG-Header" />
      <!-- /SubTemplate: Header -->
      <div class="spacer-menu-fixed"></div>
      <div>
        <div class="live-commerce">
          <iframe src="https://sdk.mimo.com.br/0.0.1/embed/player.html?liveId=1ec3e375-1ba5-63c4-911c-02991c64708e&#38;cartId=1" style="height:800px;width:100%;" title="Mimo"></iframe>
        </div>
      </div>
      <!--  SubTemplate: Footer -->
        <vtex:template id="AG-Footer" />
      <!-- /SubTemplate: Footer -->
    </div>
  </body>
  <vtex:template id="AG-commonScripts" />
</html>