 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
 
 <head>
     <title>Produto</title>
     <vtex:metaTags/>
     <vtex:template id="AG-commonStyles" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <script src="https://www.googleoptimize.com/optimize.js?id=OPT-TC5S9D9"></script>
     <style>.async-hide { opacity: 0 !important} </style>
     <script>
         (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;
         h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
         (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);
         })(window,document.documentElement,'async-hide','dataLayer',4000,{'GTM-OPT-TC5S9D9':true});
     </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SportingGoodsStore",
            "name": "Alto Giro",
            "image": "https://mkt.altogiro.net/lojas-fisicas/alto-giro-matriz-loja-fisica.jpg",
            "@id": "https://www.altogiro.net/",
            "url": "https://www.altogiro.net",
            "telephone": "+554430330106",
            "priceRange": "$$$",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Rua Gaspar Ricardo, 471",
                "addressLocality": "Maringá",
                "addressRegion" : "Paraná",
                "postalCode": "87040-365",
                "addressCountry": "BR"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": -23.4224391,
                "longitude": -51.9099157
            },
            "openingHoursSpecification": [{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                ],
                "opens": "08:00",
                "closes": "18:00"
            },{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": "Saturday",
                "opens": "08:00",
                "closes": "13:00"
            },{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": "Saturday",
                "opens": "08:00",
                "closes": "13:00"
            }],
            "sameAs": [
                "https://www.facebook.com/altogirooficial",
                "https://www.instagram.com/altogiro/",
                "https://www.youtube.com/user/altogirooficial",
                "https://www.linkedin.com/company/alto-giro",
                "https://www.altogiro.net/"
            ] 
        }
    </script>
 </head>
 
 <body id="product-page">
 
     <div class="page">
 
         <!--  SubTemplate: Header -->
         <vtex:template id="AG-Header" />
         <!-- /SubTemplate: Header -->
                     
         <section id="block-product-details" class="block-product-details">
             <div class="container wrapper gap30">
                 <div class="span6 s-span12">
                     <div class="product-image col-xs-12 col-sm-7 col-lg-6 text-center">
                     <!--  Component: Product Images -->
                     <vtex.cmc:discountHightLight/>
                     <vtex.cmc:ProductImage/>
                     </div><!-- .product-image -->
                 </div>
                 <div class="span1 s-span12" style="max-width: 50px;">
                     <vtex.cmc:productSpecification/>
                 </div>
                 <div class="info-block-product-details span5 s-span12">
                     <div class="product-details">
                         <div class="product-info">
                             <vtex.cmc:breadCrumb />
                         <div class="maxw400">
                             <!--<vtex.cmc:HightLight/>-->
                             <div class="favorite-product">
                                 <img src="/arquivos/icon-heart.svg"></img>
                             </div>
                         </div>
                         <h1><vtex.cmc:productName /></h1>
                         <div class="sku-reference-product">
                             <div style="display: flex;">
                                 <span style="padding-right: 5px">Cód:</span> 
                                 <vtex.cmc:skuReference/>
                             </div>
                             <div class="product-details-rating">
                                 <a href="#reviews" class="link-ancora">
                                     <vtex.cmc:evaluationRate/>
                                 </a>
                             </div>
                         </div>
 
                         <div class="spacer20"></div>
                         <div class="price-box">
                             <vtex.cmc:skuPrice />
                         </div>
                         <div class="seletor-sku">
                             <vtex.cmc:stockKeepingUnitSelection />
                         </div> <!-- .seletor-sku -->
                         <div style="display:none;">
                             <vtex.cmc:skuSelection />
                         </div> <!-- novo seletor sku -->
                         <div class="spacer20"></div>
                             <vtex.cmc:BuyButton />
                             <div class="spacer20"></div>
                             <div style="display:none;">
                                 <vtex.cmc:BuyTogether/> <!-- Compre Junto -->
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
         <div class="spacer80"></div>
         <section class="container">
             <div class="showcase-default showcase-owl">
                 <vtex:contentPlaceHolder id="Similares" />
             </div>
         </section>
         <div class="spacer180"></div>
         <section class="bcg-gray">
             <div class="block01-description-product container wrapper">
                 <div class="content-block01-description-product span6 s-span12">
                     <h2 class="title">Por que colocar na sua sacola?</h2>
                     <div class="slider-description-product">
                         <vtex.cmc:ProductDescription />
                     </div>
                 </div>
                 <div class="image-block01-description-product">
                     <img src="/arquivos/image1-description-product.jpg"></img>
                 </div>
             </div>
         </section>
 
         <section class="container">
             <div class="showcase-default showcase-owl">
                 <vtex:contentPlaceHolder id="Quem-viu-viu-tambem" />
             </div><!-- .showcase-default -->
         </section>
         <div class="spacer80"></div>
         <vtex:template id="AG-Newsletter" />
         <!--  SubTemplate: Footer -->
         <vtex:template id="AG-Footer" />
         <!-- /SubTemplate: Footer -->
     
     </div><!-- .container-fluid -->
 
 </body>
     <vtex:template id="AG-commonScripts" />
 </html>