<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
 
 <head>
     <vtex:metaTags/>
     <vtex:template id="AG-commonStyles" />
     <link href="/arquivos/perguntas-frequentes.css" rel="stylesheet" type="text/css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 </head>
 
 <body id="institucional-page">
 
     <div id="app">
     
         <vtex:template id="AG-Header" />
         
         <main id="ag-privacidade">
             <!-- SECTION BANNER -->
             <section class="block-header-pages">
                 <div id="ag-category-img-holder" class="background-block-header-pages hide-only-small">
                     <img src="/arquivos/banner-trocas-devolucoes.png"></img>
                 </div>
         
                 <div class="wrapper-block-header-pages">
                     <div class="container wrapper w-100">
                         <div class="content-block-header-pages span7 m-span10 s-span12">
         
                             <h1 class="title">Privacidade</h1>
                             <p class="description">
                                 Precisa de ajuda? Escolha umas das opções abaixo para que possamos te ajudar a resolver qualquer problema. Se desejar 
                                 falar conosco, acesse a seção “Contato” e escolha o melhor meio para começarmos nossa conversa agora mesmo.
                             </p>
         
                             <!-- SECTION LIST LINKS PAGE -->
                             <ul class="ag-list-pages">
                                 <div>
                                     <li><a pwa-to-page="/perguntas-frequentes">Perguntas frequêntes</a></li>
                                     <li><a pwa-to-page="/trocas-e-devolucoes">Trocas e devoluções</a></li>
                                     <li><a pwa-to-page="/pagamento">Pagamento</a></li>
                                 </div>
                                 
                                 <div>
                                     <li><a pwa-to-page="/nossas-lojas">Nossas Lojas</a></li>
                                     <li><a pwa-to-page="/privacidade">Privacidade</a></li>
                                     <li  id="ag-link-contact"><a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=554499351237" target="_blank">CONTATO <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                                 </div>
                             </ul>
                         </div>
                     </div>
                 </div>
             </section>
         
             <!-- SECTION EXCHANGES AND DEVOLUTIONS -->
             <section class="ag-devolution-exchanges container">
                 <div class="ag-devol__exchan-content">
                     <h2 class="ag-title-content">POLÍTICA DE PRIVACIDADE</h2>
                      <ul class="ag-desc-text">
                         <li><b>1</b> Política de Privacidade</li>
                         <li><b>1.1</b>	Onde os dados pessoais são coletados?</li>
                         <li><b>1.2</b>	Qual a razão da coleta de dados?</li>
                         <li><b>1.3</b>	Os fundamentos Legais que norteiam a coleta de dados</li>
                         <li><b>1.4</b>	Quais as espécies de dados coletados pela Alto Giro e como será utilizado?</li>
                         <li style="margin-left:20px"><b>1.4.1</b> Usuários de Website</li>
                         <li style="margin-left:20px"><b>1.4.2</b>	Do interesse (Leads) demonstrado pelo Usuário</li>
                         <li style="margin-left:20px"><b>1.4.3</b>	Como serão utilizados seus dados?</li>
                         <li><b>1.5</b>	Não compartilharemos seus dados!</li>
                         <li><b>1.6</b>	Os dados fornecidos são personalíssimos e de sua titularidade!</li>
                         <li><b>1.7	</b>Seus dados serão guardados por um tempo!</li>
                         <li><b>1.8	</b>A sua segurança no meio digital</li>
                         <li><b>1.9	</b>Nosso contato</li>
                         <li><b>1.10</b> Da evolução constante</li>
                     </ul>
 
                     <p class="ag-desc-text">A Alto Giro compromete-se com a segurança de informação de seus clientes em relação aos dados e informações coletadas. Por isso, 
                         apresentamos nossa política de privacidade e segurança, que tem por objetivo esclarecer o uso dessas informações. Navegar no site 
                         www.altogiro.net implica na aceitação total e irrestrita das práticas descritas nesta política de privacidade.</p>
         
                     <h3 class="ag-subtitle-text">1 Política de Privacidade</h3>
                     <p class="ag-desc-text">Antes de tudo, é importante destacar que suas informações para nós, da Alto Giro, possuem valores incomensuráveis, e, por isso, temos como objetivo, não somente dispor de suas informações de maneira segura e responsável, mas, em especial, respeitar sua opinião. Por isso, navegar pelo nosso website, utilizar de nossa plataforma móvel, estar logado em nosso ambiente seguro, fornecer informações por meio físico em nossas lojas, e, quaisquer coletas de dados pessoais, não implica necessariamente em nos transmitir todos os seus dados, mas sim, esclarecemos que cabe a você nos autorizar a tratar somente as informações pessoais que desejar.
 
 Por outro lado, é importante evidenciar que as informações coletadas, que, sempre deverão ser autorizadas por você, facilitam não somente a utilização de toda nossa plataforma física e virtual, mas, também, lhe proporcionará uma experiência mais agradável e personalizada.
 
 Convém ponderar que o comprometimento da Alto Giro é em resguardar sua privacidade e proteger os seus dados pessoais. Por tais razões, o objetivo primeiro deste documento, além de respeitar suas escolhas, é o de:</p>
                 <ul class="ag-desc-text">
                     <li style="margin-left:20px"><b>• </b>Esclarecer quais informações poderão ser coletadas de nossos usuários;</li>
                     <li style="margin-left:20px"><b>• </b>O objetivo de coletar tais informações; e,</li>
                     <li style="margin-left:20px"><b>• </b>Em qual momento poderá a Alto Giro se utilizar de tais informações;</li>
                     <li style="margin-left:20px"><b>• </b>Reiterar o compromisso quanto a guarda e manutenção de seus dados pessoais, que não serão compartilhados com outra pessoa jurídica, senão tão somente pessoas do mesmo Grupo Econômico, bem como, prestadores de serviços que objetivam proteger seus dados, sendo vedado qualquer veiculação dos mesmos à terceiros estranhos à atividade exercida pela Alto Giro;</li>
                 </ul>
                 <p>
                     Registre-se ainda, que este documento, também se figura como componente essencial dos Termos de Uso do Site, que dispõe sobre o conceito do nosso ambiente digital.
 
 É sobremodo importante assinalar que nossa Política de Privacidade será observada sempre que você utilizar de nossos serviços na seara online ou offline, que poderão solicitar a coleta da Dados Pessoais, sendo que, para a manutenção de nossas atividades, nossos serviços de atendimento ao usuário englobam: websites, estando incluído aqui, também, a acesso à área segura do usuário, enquanto logado; aplicativos; redes sociais, que, embora de terceiros, ali estamos alocados; serviços de atendimento ao consumidor, seja via rede mundial de computadores, seja por intermédio de telefonia e/ou mensagem de dados móvel; pontos de vendas presenciais; e, até mesmo eventos patrocinados.
 
 A aceitação de nossa Política de Privacidade ocorrerá:
                 </p>
                 <ul class="ag-desc-text">
                     <li style="margin-left:20px"><b>• </b>Quando você realizar seu cadastro em nosso website e/ou utilizar aplicativo de titularidade da Alto Giro, realizando ou não qualquer compra; ou,</li>
                     <li style="margin-left:20px"><b>• </b>Quando você acessar eventuais redes sociais e aplicativos, inclusive por e-mails e/ou aplicativos como WhatsApp e similares, que, embora de terceiros, ali está alocada a Alto Giro; ou,</li>
                     <li style="margin-left:20px"><b>• </b>Quando você informar seus dados pessoalmente em nossas lojas e/ou eventos patrocinados; ou,</li>
                     <li style="margin-left:20px"><b>• </b>Quando você informar seus dados em nossos atendimentos via telefone; ou,</li>
                     <li style="margin-left:20px"><b>• </b>Quando você informar seus dados em nossos atendimentos via mensagens de telefonia móvel e/ou rede mundial de computadores.</li>
                 </ul>
                 <p>
 Embora a aceitação de nossa Política de Privacidade ocorra nos casos acima, é importante reiterar nosso compromisso não somente com a guarda e manutenção segura de seus dados pessoais, mas, em especial, em respeitar suas escolhas, e, por isso, somente os dados que você nos autorizar, serão coletados, ressalvando, contudo, os cookies considerados obrigatórios, que não coletam informações pessoais, mas somente dados essências para a funcionalidade do ambiente digital.
 
 Por outro lado, é importante salientar que suas escolhas também podem alcançar a não aceitação de nossa Política de Privacidade, que, reiteramos, não ofende qualquer acesso a dados não autorizado. Mas, ainda assim, neste caso, havendo não aceitação, não poderemos fornecer a você nossos produtos de forma personalizada. Inobstante isso, em havendo o desinteresse em anuir com nossa Política de Privacidade, solicitamos que nos comunique, que almejaremos esclarecer todos os pontos que possam parecer dissonantes, para, em seguida, formalizarmos uma parceria duradoura.
 
 Em última análise, vale salientar que a Alto Giro busca criar um canal aberto e de fácil compreensão para você, usuário, e destinatário deste documento, e, por isso, embora nos apontamentos abaixo venhamos a buscar esclarecer pontos importantes, tais como, as espécies de dados eventualmente coletados, formas de armazenamento, dentre outros, desde já nos colocamos à disposição para dirimir dúvidas, ainda que não tenha expressa conexão à presente Política de Privacidade.</p>
                     <h3 class="ag-subtitle-text">1.1 Onde os dados pessoais são coletados? </h3>
                     <p  class="ag-desc-text">
                         É importante elencar que os objetivos para a coleta de dados pessoais, em regra, subdividem-se em 02(dois), sendo que, em um primeiro momento se observa a essencialidade da informação para o adequado funcionamento de um sistema, e, neste caso, se fala em dados essenciais e anônimos. E, em uma segunda oportunidade, se evidencia a coleta de dados, que podem ou não ser anônimos, cuja finalidade é a personalização de um ambiente agradável e mais próximo do desejado pelo usuário.
 
 Como consequência da observação acima, tem-se que dados essenciais e anônimos sempre serão informados, e, dados pessoais, que poderão ser anonimizados de forma segura e definitiva, poderão ser coletados para melhor experiência e até mesmo o adequado funcionamento do sistema.
 
 Os dados pessoais poderão ser coletados nas seguintes interações do usuário com a Alto Giro:</p>
                     <ul class="ag-desc-text">
                         <li style="margin-left:20px"><b>• </b>Website: Páginas de internet voltadas para o usuário, com domínio de titularidade da Alto Giro, cadastro por e-mail, ou, até mesmo, redes sociais de terceiro, que, embora de titularidade diversa, ali está alocada a Alto Giro, tais como: Facebook, Instagram, Twitter, etc.;</li>
                         <li style="margin-left:20px"><b>• </b>Website e Aplicativos Móveis: Website ou aplicativos móveis para smartphone e/ou dispositivos móveis de titularidade da Alto Giro e/ou terceiro;</li>
                         <li style="margin-left:20px"><b>• </b>Anúncios armazenados em ambientes de terceiro: A Alto Giro, por intermédio de ações publicitárias diretas ou indiretas, produz anúncios em ambientes digitais, sendo que o usuário, ao “clicar” nestes anúncios possibilitará o acesso a dados anônimos capazes de interagir de forma personalizada;</li>
                         <li style="margin-left:20px"><b>• </b>Dados coletados e interpretados: Nossa contínua interação nos permite a entender melhor suas escolhas e opiniões, e, desta forma, por intermédio de dados anonimizados ou não, poderemos interpretar suas escolhas e personalizar informações que poderão ser úteis para suas decisões;</li>
                         <li style="margin-left:20px"><b>• </b>Dados coletados em meio físico: A Alto Giro, por intermédio de ações diretas, promocionais ou não, em sua rede de lojas, parceiros lojistas, ou, até mesmo na promoção de eventos próprios ou de terceiros, poderá coletar dados por meio físico, por intermédio de fichas cadastrais sem formato específico.</li>
                     </ul>
                     <p>
 No que concerne ao conteúdo da Alto Giro que eventualmente venha a ser compartilhado pelo usuário em redes sociais, destacamos que referida publicação é realizada por intermédio do usuário, e por isso, não possuindo a Alto Giro qualquer controle, pois o usuário estará utilizando seu perfil para referida publicação, não possuindo a Alto Giro qualquer controle quanto a esta veiculação de dados.
                     </p>
                     <h3 class="ag-subtitle-text">1.2 Qual a razão da coleta de dados? </h3>
                     <p class="ag-desc-text">Primeiro que tudo, é importante relembrar que a primazia da Alto Giro para com o usuário é o respeito com a sua opinião e vontade. Contudo, ainda haverá a indagação acerca dos motivos que levam a coleta de dados pessoais.
 
 Embora já previamente explicado, a Alto Giro mais uma vez esclarece que as razões da coleta de dados subdividem-se em 02(duas), ou seja, há os dados essenciais e anônimos, que objetivam o regular funcionamento de uma plataforma digital, e, em um segundo momento, se observa a coleta de dados anônimos ou não, cuja finalidade e a personalização de um ambiente agradável e mais próximo do desejado pelo usuário.</p>
                     <h3 class="ag-subtitle-text">1.3 Os fundamentos Legais que norteiam a coleta de dados</h3>
                     <p  class="ag-desc-text">
                     A Lei nº 13.709/2018 e suas posteriores alterações, denominada Lei Geral de Proteção de Dados (LGPD), conforme dispões seu art. 1º, veio a regulamentar o “tratamento de dados pessoais, inclusive nos meios digitais, por pessoa natural ou por pessoa jurídica de direito público ou privado, com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural”.
 
 Não se pode deixar de observar que, embora a prévia existência de uma norma já qualifique a necessidade de regulamentação, tem-se que os princípios basilares da coleta de dados, que, inclusive pode ser buscado na própria Constituição Federal de 1988 e Código Civil, é o consentimento, o legítimo interesse e a regular execução dos contratos.
                     </p>
                     <h3 class="ag-subtitle-text">1.4 Quais as espécies de dados coletados pela Alto Giro e como será utilizado?</h3>
                     <h3 class="ag-subtitle-text">1.4.1 Usuários de Website</h3>
                     <p class="ag-desc-text">
                         Conforme já comentamos, o acesso ao Website da Alto Giro implica em, obrigatoriamente, autorizar a coleta mínima de dados para uma experiência de navegação, e, para tanto, se utiliza de cookies, que são identificadores transferidos para o seu navegador ou dispositivo que autorizam o reconhecimento de seu navegador ou dispositivo, aos dados de acesso a informações básicas, tais como, quando e quantas páginas foram acessadas, quais recursos utilizados, e qual a quantidade de acesso.
 
 Estes dados, sempre serão anônimos e a não autorização destes cookies implicará na inviabilidade do acesso ao website.
 
 Ainda, vale rememorar que dentro da Política de Privacidade, o usuário poderá optar por não autorizar a coleta de dados que não implique na total limitação do acesso, mas, em contrapartida, não será possível para nós oferecermos uma experiência completa e personalizada.
 
 Rememorando, tem-se os seguintes cookies que a Alto Giro se utiliza para coletar informações:</p>
                     <ul class="ag-desc-text">
                         <li style="margin-left:20px"><b>• </b>Cookies obrigatórios (estritamente necessários), que não coletam quaisquer informações capazes de identificar a pessoa que está acessando nosso site. O computador irá excluir os cookies obrigatórios, que também podem ser chamados cookies de sessão.</li>
                         <li style="margin-left:20px"><b>• </b>Cookies funcionais, que coletam dados de forma anônima. Também denominados cookies técnicos, objetivam manter o correto funcionamento de sua navegação, permitindo que suas experiências, de forma anônima, permaneçam conhecidas. Como exemplo, a autorização destes cookies irá nos permitir lembrar qual seu idioma de preferência. </li>
                         <li style="margin-left:40px"><b>◦ </b>Todas as informações recolhidas por estes cookies são agregadas e, por conseguinte, anónimas. Sem a permissão destes cookies, algumas funcionalidades do website podem ficar comprometidas.</li>
                         <li style="margin-left:20px"><b>• </b>Cookies analíticos, que coletam dados de forma anônima. Também denominados cookies de desempenho, objetivam otimizar a sua visita em nosso ambiente de internet. Como exemplo, estes cookies nos permitem contar visitas e fontes de tráfego para que possamos medir e melhorar o desempenho do nosso website.</li>
                         <li style="margin-left:40px"><b>◦ </b>Todas as informações recolhidas por estes cookies são agregadas e, por conseguinte, anónimas. Se não permitir estes cookies, não saberemos quando visitou o nosso site.</li>
                         <li style="margin-left:20px"><b>• </b>Cookies de publicidade, que coletam dados, mas não serão compartilhados com qualquer outra pessoa jurídica, senão tão somente pessoas do mesmo Grupo Econômico, bem como, prestadores de serviços que objetivam proteger seus dados, sendo vedado qualquer veiculação dos mesmos à terceiros estranhos à atividade exercida pela Alto Giro. Também denominados cookies de marketing ou de rastreamento, objetivam melhorar sua experiência conosco, que utilizaremos das melhores oportunidades para lhe mostrar nossas últimas novidades de acordo com suas preferências. Se não permitir estes cookies, terá menos publicidade direcionada e personalizada para você.</li>
                     </ul>
     <p>
 Legalmente, nós não precisaríamos solicitar sua permissão a coleta de dados por meio de cookies funcionais e analíticos, mas, contudo, sua opinião sempre será respeitada! 
 
 É importante evidenciar, ainda, que há possibilidade de uso de cookies de terceiros já estarem instalados em seu navegador, e, por isso, nossa Política de Privacidade não pode abranger esta responsabilidade. Se evidencia que eventualmente cookies colocados por terceiros podem continuar a coletar dados de suas atividades mesmo após haver deixado nosso Website.
                     </p>
                     <h3 class="ag-subtitle-text">1.4.2 Do interesse (Leads) demonstrado pelo Usuário</h3>
                     <p class="ag-desc-text">
                     Não tenha dúvidas que nós, da Alto Giro, sempre iremos buscar um meio de chamar sua atenção, e, quando você demonstrar interesses em nossas publicações, seja acessando nossos anúncios, publicidades e até mesmo informativos, ou seja por intermédio de seu cadastro pessoal em nosso Website, além dos dados essenciais e anônimos, poderemos solicitar seu consentimento para compartilhar dados analíticos, onde não constará quaisquer informações pessoais,  objetivando somente a possibilidade de produzirmos um conteúdo personalizado para você, mas, também, poderemos solicitar outro consentimento de sua parte, que autorizará a coleta de dados pessoais com objetivo único de produzir conteúdo personalizado para você.
                     </p>
                     <h3 class="ag-subtitle-text">1.4.3 Como serão utilizados seus dados?</h3>
                     <p class="ag-desc-text">
 
 A Alto Giro, sempre respeitando sua vontade e opinião, utilizará de seus dados exclusivamente para personalizar conteúdos de seu interesse, lembrando que a qualquer momento você poderá optar por cancelar não somente o acesso aos dados, mas, também, poderá descadastrar qualquer recebimento de publicidade e/ou informativo.
 
 A título de exemplo, a Alto Giro poderá: </p>
                     <ul class="ag-desc-text">
                         <li style="margin-left:20px"><b>• </b>Utilizar-se de seu e-mail para envio de material de marketing ou newsletters;</li>
                         <li style="margin-left:20px"><b>• </b>Utilizar-se de seu endereço pessoal e/ou comercial, a depender das informações repassadas por você quando do cadastramento em nossos meios digitais e/ou físicos para envio de material de marketing ou newsletters;</li>
                         <li style="margin-left:20px"><b>• </b>Utilizar-se de seu contato de telefone, inclusive via mensagens por aplicativos, momento em que colaboradores da Alto Giro poderão entrar em contato, sendo que, o contato, inclusive, poderá ser realizado por intermédio de plataformas digitais automatizadas;</li>
                     </ul>
                     <h3 class="ag-subtitle-text">1.5 Não compartilharemos seus dados!</h3>
                     <p class="ag-desc-text">
                                         A Alto Giro não compartilhará seus dados pessoais não anônimos ou anonimizados com qualquer pessoa jurídica além da titular da marca, qual seja, a pessoa jurídica RECCO RECCO &amp; CIA. LTDA. (CNPJ/MF 76.795.418/0001-02), bem como, pessoas do mesmo Grupo Econômico, além de prestadores de serviços que objetivam proteger seus dados, sendo vedado qualquer veiculação dos mesmos à terceiros estranhos à atividade exercida pela Alto Giro. 
 
                     </p>
                     <h3 class="ag-subtitle-text">1.6 Os dados fornecidos são personalíssimos e de sua titularidade!</h3>
                     <p class="ag-desc-text">
                     De acordo com art. 1º, da Lei nº 13.709/2018, Geral de Proteção de Dados (LGPD), o objetivo de tutelar dados pessoais é a de “proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural”. 
 
 Por isso, a proteção legal acima, embora já tutelada pela Constituição Federal de 1988 e pelo Código Civil, somente veio a esclarecer que você, usuário, sempre será titular de seus dados pessoais, que, mediante sua expressa autorização, que, ressalte, sempre pediremos, serão utilizados para otimizar um ambiente que lhe possa interessar.
                     </p>
                     <h3 class="ag-subtitle-text">1.7 Seus dados serão guardados por um tempo!</h3>
                     <p class="ag-desc-text">
 Seus dados pessoais serão guardados, de forma segura, cujo tempo de guarda observa não somente o prazo legal, mas, também, quando ausente alguma determinação legal, o período necessário para que nossos colaboradores excluam suas informações de nosso banco de dados.
 
 Desta forma, seus dados serão mantidos pelo período abaixo:</p>
                     <ul class="ag-desc-text">
                     <li style="margin-left:20px"><b>• </b>Enquanto sua relação conosco se mantém, por intermédio de seu cadastro em alguma de nossas plataformas físicas ou digitais, o que esperamos que permaneça indefinidamente, pois queremos você sempre por perto, seus dados pessoais permanecerão conosco, sempre seguros!</li>
                     <li style="margin-left:20px"><b>• </b>Em caso de solicitação de cancelamento de seu cadastro, que poderá ser feito de forma simplificada, seja por um simples “clique” no ambiente digital ou uma solicitação expressa no meio físico, o que esperamos que nunca ocorra, a Alto Giro excluirá definitivamente seus dados no prazo de até 72(setenta e duas) horas, haja vista tão somente o período burocrático para um de nossos colaboradores excluir de forma segura e definitiva os seus dados;</li>
                     <li style="margin-left:20px"><b>• </b>Considerando que você, usuário, poderá demonstrar interesse (leads) em nossos anúncios e publicações, mas, contudo, não realizar o cadastro em nossos meios digitais e/ou físicos, permitindo, por outro lado, o acesso de dados através de cookies, seus dados poderão ser armazenados pelo período de até 05(cinco) anos. Contudo, em qualquer momento você poderá desautorizar o compartilhamento de cookies, e, desta forma, seus dados serão excluídos no prazo de até 72(setenta e duas) horas;</li>
                     </ul>
                     <h3 class="ag-subtitle-text">1.8 A sua segurança no meio digital</h3>
                     <p class="ag-desc-text">
                     Antes de tudo, sua segurança sempre será nossa prioridade, e, desta forma, ela se inicia no momento de seu cadastro por intermédio de sua senha pessoal, que é intransferível. Por isso, não compartilhe e não autoriza acesso de terceiro ao seu ambiente seguro!
 
 Por outro lado, é importante que se diga que a Alto Giro trabalha de forma constante, atualizando seu sistema de segurança que abrange tanto o usuário que realiza o cadastro em nosso ambiente digital, bem como, o usuário que demonstra interesse em nossas publicações e divulgações.
 
 Somente à título de observações, a Alto Giro se utiliza de inúmeras práticas que podem combater qualquer incolumidade aos seus dados, tais como:</p>
                     <ul class="ag-desc-text">
                     <li style="margin-left:20px"><b>• </b>Criptografia em senhas e demais informações críticas;</li>
                     <li style="margin-left:20px"><b>• </b>TLS para transferência de dados;</li>
                     <li style="margin-left:20px"><b>• </b>Contratação de serviços cloud com certificações e selos de segurança, como ISO 27001, SOC 1 and SOC 2/SSAE 16/ISAE 3402 e PCI DSS;</li>
                     <li style="margin-left:20px"><b>• </b>Monitoramento de sistemas;</li>
                     <li style="margin-left:20px"><b>• </b>Firewall de borda com funcionalidades de IDS (Intrusion Detection System);</li>
                     <li style="margin-left:20px"><b>• </b>Anti-malware;</li>
                     <li style="margin-left:20px"><b>• </b>Anti-phishing;</li>
                     <li style="margin-left:20px"><b>• </b>Controle de conteúdo e VPN.</li>
                     </ul>
                     <p class="ag-desc-text">
 Inobstante a busca reiterada pela proteção de dados, na eventualidade de você observar algo que comprometa a segurança dos seus dados, por gentileza, solicitamos que entre de imediato em contato conosco pelos canais de atendimento.
                     </p>
                     <h3 class="ag-subtitle-text">1.9 Nosso contato</h3>
                     <p class="ag-desc-text">
 
 Como já incansavelmente destacamos, seus dados pessoais são personalíssimos, e sua vontade prevalecerá.
 
 Desta forma, se acaso você venha a considerar que seus dados foram utilizados de forma não condizente com nossa Política de Privacidade, ou, até mesmo objetiva sugerir algum ponto essencial que por acaso tenha considerado omisso, a Alto Giro possui um canal específico para lhe atender.</p>
                     <ul class="ag-desc-text">
                     <li style="margin-left:20px"><b>• </b>Endereço: Rua Gaspar Ricardo, nº 471, Zona 10, CEP 87.040-365, no município de Maringá, Estado do Paraná</li>
                     <li style="margin-left:20px"><b>• </b>E-mail: dpo@altogiro.net</li>
                     </ul>
                     <h3 class="ag-subtitle-text">1.10 Da evolução constante</h3>
                     <p class="ag-desc-text">
                     Diante de todos os apontamentos, não podemos deixar de observar que a preocupação da Alto Giro também se envolve com a constante atualização e aprimoramento dessa Política de Privacidade.
 
 Por isso, quando você retornar para nos visitar pode ser que ocorra a necessidade de realizar uma nova autorização para o uso de dados, e, se isso ocorreu, será devido ao fato de haver os cookies de seu navegador terem sido apagados, ou, esta Política de Privacidade haver sido atualizada.
                     </p>
                 </div>
             </section>
         </main>
 
         <vtex:template id="AG-Footer" />
     </div>
 </body>
     <vtex:template id="AG-commonScripts" />
 </html>