 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
 
 <head>
     <vtex:metaTags/>
     <vtex.cmc:title/>
     <vtex:template id="AG-commonStyles" />
     <link href="/arquivos/perguntas-frequentes.css" rel="stylesheet" type="text/css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <script type="application/ld+json">
         {
             "@context": "https://schema.org",
             "@type": "SportingGoodsStore",
             "name": "Alto Giro",
             "image": "https://mkt.altogiro.net/lojas-fisicas/alto-giro-matriz-loja-fisica.jpg",
             "@id": "https://www.altogiro.net/",
             "url": "https://www.altogiro.net",
             "telephone": "+554430330106",
             "priceRange": "$$$",
             "address": {
                 "@type": "PostalAddress",
                 "streetAddress": "Rua Gaspar Ricardo, 471",
                 "addressLocality": "Maringá",
                 "addressRegion" : "Paraná",
                 "postalCode": "87040-365",
                 "addressCountry": "BR"
             },
             "geo": {
                 "@type": "GeoCoordinates",
                 "latitude": -23.4224391,
                 "longitude": -51.9099157
             },
             "openingHoursSpecification": [{
                 "@type": "OpeningHoursSpecification",
                 "dayOfWeek": [
                     "Monday",
                     "Tuesday",
                     "Wednesday",
                     "Thursday",
                     "Friday"
                 ],
                 "opens": "08:00",
                 "closes": "18:00"
             },{
                 "@type": "OpeningHoursSpecification",
                 "dayOfWeek": "Saturday",
                 "opens": "08:00",
                 "closes": "13:00"
             },{
                 "@type": "OpeningHoursSpecification",
                 "dayOfWeek": "Saturday",
                 "opens": "08:00",
                 "closes": "13:00"
             }],
             "sameAs": [
                 "https://www.facebook.com/altogirooficial",
                 "https://www.instagram.com/altogiro/",
                 "https://www.youtube.com/user/altogirooficial",
                 "https://www.linkedin.com/company/alto-giro",
                 "https://www.altogiro.net/"
             ] 
         }
     </script>
 </head>
 
 <body id="institucional-page">
 
     <div id="app">
     
         <vtex:template id="AG-Header" />
     
         <main id="ag-perguntas-frequentes">
             <section class="block-header-pages">
                 <div id="ag-category-img-holder" class="background-block-header-pages hide-only-small">
                     <img src="/arquivos/banner-trocas-devolucoes.png"></img>
                 </div>
         
                 <div class="wrapper-block-header-pages">
                     <div class="container wrapper w-100">
                         <div class="content-block-header-pages span7 m-span10 s-span12">
         
                             <h1 class="title">PERGUNTAS FREQUENTES</h1>
                             <p class="description">
                                  Nosso site <a href="/">www.altogiro.net</a> segue rigorosos padrões de segurança e confidencialidade a fim de proteger as informações dos seus usuários. Durante a sua navegação, você estará em um ambiente virtual completamente seguro. Todas as informações são criptografadas, utilizando a tecnologia SSL (Secure Socket Layer).
                             </p>
         
                             <!-- SECTION LIST LINKS PAGE -->
                             <ul class="ag-list-pages">
                                 <div>
                                     <li><a href="/privacidade">Politica de Privacidade</a></li>
                                     <li><a href="/trocas-e-devolucoes">Trocas e Devoluções</a></li>
                                     <li><a href="/pagamento">Pagamento</a></li>
                                 </div>
                                 
                                 <div>
                                     <li><a href="/nossas-lojas">Nossas Lojas</a></li>
                                     <li  id="ag-link-contact"><a href="https://web.whatsapp.com/send?1=pt_BR&amp;phone=5544999351237" target="_blank">CONTATO <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                                 </div>
                             </ul>
                         </div>
                     </div>
                 </div>
             </section>
         
         
             <div class="ag-conteudo container">
                 <div class="ag-perguntas">
                     <div class="ag-item ag-ativo">
                         <a class="ag-controle-item" title="Como faço para receber e-mails de novidades, lançamentos e promoções?">Como faço para receber e-mails de novidades, lançamentos e promoções?</a>
         
                         <div class="ag-texto-item">
                             <p>
                                 Para receber nossas novidades e descontos exclusivos, vá até o final da nossa página inicial do site da Alto Giro, cadastre seu e-mail. Pronto! Você ficara por dentro do nosso mundo Sport Way of Life.
                             </p>
         
                             <img class="ag-newsletter" src="/arquivos/newsletter-duvidas.jpg" alt="Como faço para receber e-mails de novidades, lançamentos e promoções?"></img>
                         </div>
                     </div>
         
                     <div class="ag-ag-item">
                         <a class="ag-ag-controle-item" title="Como faço para ser avisada sobre a reposição de um produto?">Como faço para ser avisada sobre a reposição de um produto?</a>
         
                         <div class="ag-ag-texto-item">
                             <p>newsletter-duvidas
                                 Você pode cadastrar seu e-mail para ser avisada quando o produto estiver disponível.<br></br>
                                 - Acesse o produto que você gostaria e selecione o tamanho;<br></br>
                                 - Cadastre seu e-mail no AVISE-ME; <br></br>
                                 Assim que este produto estiver disponível você vai receber um e-mail automático.
                             </p>
                         </div>
                     </div>
         
                     <div class="ag-item">
                         <a class="ag-controle-item" title="Como faço para cancelar minha compra?">Como faço para cancelar minha compra?</a>
         
                         <div class="ag-texto-item">
                             <p>
                                 Em caso de desistência/arrependimento da compra realizada, gentileza entrar em contato conosco e informar o motivo do cancelamento.<br></br>
                                 Estamos à disposição através dos seguintes contatos telefone (44) 3033-0106 e WhatsApp (44) 99935-1237 de segunda à sexta-feira das 08h às 12 e das 13h às<br></br>
                                 17h, exceto feriados, via e-mail ecommerce@altogiro.net ou pelo Chat online direto no nosso site – www.altogiro.net
                             </p>
                         </div>
                     </div>
         
                     <div class="ag-item">
                         <a class="ag-controle-item" title="Como acompanhar meu pedido?">Como acompanhar meu pedido?</a>
         
                         <div class="ag-texto-item">
                             <p>
                                 Para maior comodidade de nossos consumidores colocamos a disposição o acompanhamento de todo o processamento do pedido, desde a realização e aprovação do pagamento até a entrega.</p>
         
                             <p>
                                 As atualizações do status do pedido são enviadas através de e-mails automáticos. No e-mail automático de pedido enviado consta o código do rastreio e as informações para acompanhar a entrega através do site da empresa transportadora.
         
                             </p>
         
                             <p>
                                 Através do seu <a href="/login">Login</a> e Senha em nosso site; é possível acompanhar pela <a href="/minha-conta">Minha Conta</a> no campo <a href="/minha-conta/pedidos">Meus Pedidos</a>, ali constam as informações referentes a cada um dos pedidos realizados, é possível verificar a situação de cada um deles de forma simples e rápida.
                             </p>
                         </div>
                     </div>
         
                     <div class="ag-item">
                         <a class="ag-controle-item" title="Não recebi meu pedido no prazo, o que devo fazer?">Não recebi meu pedido no prazo, o que devo fazer?</a>
         
                         <div class="ag-texto-item">
                             <p>
                                 Quando seu pedido é enviado, você receberá um código de rastreamento para o acompanhamento da entrega através do site dos Correios. É importante acompanhar a entrega.
                             </p>
         
                             <p>
                                 Segue alguns itens que devem ser vistos:
                             </p>
         
                             <p>
                                 - Data de entrega: confirme o prazo previsto para entrega do seu pedido;
                             </p>
         
                             <p>
                                 - Dados do endereço de entrega: confirme os dados informados para entrega;
                             </p>
         
                             <p>
                                 - Caso de condomínio e prédio: pode acontecer de alguém receber o pedido por você. Verifique na portaria, com o síndico e funcionários do local;
                             </p>
         
                             <p>
                                 - Ausência de recebedor: são realizadas 2 (duas) tentativas de entrega, em dias úteis consecutivos. Após duas tentativas de entrega sem sucesso, os Correios podem disponibilizar a compra para retirada direto na agência indicada no próprio código de rastreio, caso não seja retirado ocorre a devolução da compra para nossa fabrica.
                             </p>
         
                             <p>
                                 - Recusa do pedido: certifique-se de que as pessoas encarregadas de receber o pedido, como porteiros, não se recusaram a recebê-lo.
                             </p>
         
                             <p>
                                 Estamos à disposição através dos seguintes contatos telefone (44) 3033-0106 e WhatsApp (44) 99935-1237 de segunda à sexta-feira das 08h às 12 e das 13h às 17h, exceto feriados, via e-mail ecommerce@altogiro.net ou pelo Chat online direto no nosso site – www.altogiro.net
                             </p>
                         </div>
                     </div>
         
                     <div class="ag-item">
                         <a class="ag-controle-item" title="Comprei um produto, mas não serviu, o que devo fazer?">Comprei um produto, mas não serviu, o que devo fazer?</a>
         
                         <div class="ag-texto-item">
                             <p>Para mais informações veja nossa Política de <a href="/ajuda#troca-e-devolucoes">Trocas ou Devoluções</a></p>
                         </div>
                     </div>
         
                     <div class="ag-item">
                         <a class="ag-controle-item" title="Gostaria de revender os produtos da Alto Giro, como faço?">Gostaria de revender os produtos da Alto Giro, como faço?</a>
         
                         <div class="ag-texto-item">
                             <p>Dúvidas ou informações sobre revenda de produtos e representantes, consulte nosso comercial através do e-mail <strong>comercial@altogiro.net</strong> ou dos telefones <strong>(44) 3033-0108 / 0110 / 0111</strong> de segunda à sexta das 08h às 18h, exceto feriados.</p>
                         </div>
                     </div>
                 </div>
             </div>
         </main>
         <vtex:template id="AG-Footer" />
     </div>
 </body>
     <vtex:template id="AG-commonScripts" />
 </html>