<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
  <vtex:metaTags />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <vtex:template id="AG-commonStyles" />
  <link href="/arquivos/perguntas-frequentes.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body id="institucional-page">
  <vtex:template id="AG-Header" />

  <main class="ag-regulamentos container">

  <h1 class="title">Regulamentos</h1>

  <div class="wrapper">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#dia-do-cliente" aria-controls="dia-do-cliente" role="tab" data-toggle="tab">Dia do Cliente</a></li>
      <li role="presentation"><a href="#promocao-pix" aria-controls="promocao-pix" role="tab" data-toggle="tab">PIX 5%</a></li>
    </ul>
  
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="dia-do-cliente">
        <h2>Regulamento Promoção Semana do Cliente Alto Giro</h2>
        
        <p>Promoção válida apenas para compras realizadas no site <a href="https://www.altogiro.net" title="Alto Giro">Alto Giro</a> no período de 15 de setembro 2021 até 22 de setembro 2021.</p>
  
        <p>A cada R$500,00 em compras o cliente receberá em seu cadastro um voucher de R$50,00 de desconto para sua próxima compra. O desconto será aplicado dentro do próprio carrinho e estará disponível apenas para o cadastro do cliente que realizou a compra.</p>
  
        <p>O desconto só poderá ser aplicado a partir do dia 23 de setembro, ou seja, ao encerrar o período de compras desta promoção e só será válido para compras realizadas até o dia 31 de outubro de 2021.</p>
  
      </div>
      <div role="tabpanel" class="tab-pane fade" id="promocao-pix">
        <h2>Regulamento Pagamento PIX</h2>

        <p>Todas as compras realizadas no site <a href="https://www.altogiro.net" title="Alto Giro">Alto Giro</a>, com pagamento via PIX terão 5% de desconto e não serão acumulativas com outras promoções.</p>
      </div>
    </div>
  </div>

  </main>

  <vtex:template id="AG-Footer" />

</body>
<vtex:template id="AG-commonScripts" />
</html>