<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">

<head>
  <vtex:metaTags />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <vtex:template id="AG-commonStyles" />
  <link href="/arquivos/perguntas-frequentes.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "SportingGoodsStore",
            "name": "Alto Giro",
            "image": "https://mkt.altogiro.net/lojas-fisicas/alto-giro-matriz-loja-fisica.jpg",
            "@id": "https://www.altogiro.net/",
            "url": "https://www.altogiro.net",
            "telephone": "+554430330106",
            "priceRange": "$$$",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Rua Gaspar Ricardo, 471",
                "addressLocality": "Maringá",
                "addressRegion" : "Paraná",
                "postalCode": "87040-365",
                "addressCountry": "BR"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": -23.4224391,
                "longitude": -51.9099157
            },
            "openingHoursSpecification": [{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                ],
                "opens": "08:00",
                "closes": "18:00"
            },{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": "Saturday",
                "opens": "08:00",
                "closes": "13:00"
            },{
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": "Saturday",
                "opens": "08:00",
                "closes": "13:00"
            }],
            "sameAs": [
                "https://www.facebook.com/altogirooficial",
                "https://www.instagram.com/altogiro/",
                "https://www.youtube.com/user/altogirooficial",
                "https://www.linkedin.com/company/alto-giro",
                "https://www.altogiro.net/"
            ] 
        }
    </script>
</head>
<body id="institucional-page">
  <vtex:template id="AG-Header" />

  <main class="ag-regulamentos container">

  <h1 class="title">Regulamentos</h1>

  <div class="wrapper">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#semana-consumidor" aria-controls="semana-consumidor" role="tab" data-toggle="tab">Semana do Consumidor</a></li>
        <li role="presentation"><a href="#promocao-pix" aria-controls="promocao-pix" role="tab" data-toggle="tab">PIX 5%</a></li>
        <li role="presentation"><a href="#10-off" aria-controls="10-off" role="tab" data-toggle="tab">10% OFF NA 1° COMPRA</a></li>
    </ul>
  
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="semana-consumidor">
          <h2>Semana do Consumidor até 55% OFF 😍🤩 </h2>
  
          <p>Descontos de até 55% nas compras online (desconto válido para as coleções #02 #03 com pagamento via PIX). Demais formas de pagamento o desconto de 5% do PIX não é acumulativo.</p>

          <p>Promoção válida de: 12/03/22 00:00 á 19/03/2022 23:59 ou enquanto durarem os estoque. Não garantimos estoque de pedidos com pagamento pendente; após 3 dias o mesmo será cancelado.</p>
            
          <p>Lembrando que por se tratar de coleções passadas os produtos estão sujeitos a indisponibilidade em estoque. </p>
            
          <p>Para os casos de arrependimento da compra realizaremos o estorno total ou parcial da sua compra caso seja realizada a solicitação dentro do prazo de 7 dias corridos ao recebimento da compra, caso o prazo seja excedido disponibilizamos até 30 dias para troca por vale compras a serem utilizados em nosso site.</p>
        </div>
      <div role="tabpanel" class="tab-pane fade" id="promocao-pix">
        <h2>Regulamento Pagamento PIX</h2>

        <p>Todas as compras realizadas no site <a href="https://www.altogiro.net" title="Alto Giro">Alto Giro</a>, com pagamento via PIX terão 5% de desconto e não serão acumulativas com outras promoções.</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="10-off">
        <h2>10% OFF NA 1° COMPRA</h2>

        <p>Se você ainda não é nosso cliente aproveite e faça sua primeira compra. Usando o cupom <strong>AG10</strong> você ganha 10% de desconto em sua primeira compra. Este desconto é exclusivo para novos clientes em nossa loja virtual e não é acumulativo com outras promoções do site.</p>
        <p>Em caso de dúvidas, consulte nossa central de atendimento.</p>
      </div>
    </div>
  </div>

  </main>

  <vtex:template id="AG-Footer" />

</body>
<vtex:template id="AG-commonScripts" />
</html>