 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
 
 <head>
     <vtex:metaTags/>
     <vtex.cmc:TitleSobreAMarca />
     <vtex:template id="AG-commonStyles" />
     <link href="/arquivos/perguntas-frequentes.css" rel="stylesheet" type="text/css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <script type="application/ld+json">
         {
             "@context": "https://schema.org",
             "@type": "SportingGoodsStore",
             "name": "Alto Giro",
             "image": "https://mkt.altogiro.net/lojas-fisicas/alto-giro-matriz-loja-fisica.jpg",
             "@id": "https://www.altogiro.net/",
             "url": "https://www.altogiro.net",
             "telephone": "+554430330106",
             "priceRange": "$$$",
             "address": {
                 "@type": "PostalAddress",
                 "streetAddress": "Rua Gaspar Ricardo, 471",
                 "addressLocality": "Maringá",
                 "addressRegion" : "Paraná",
                 "postalCode": "87040-365",
                 "addressCountry": "BR"
             },
             "geo": {
                 "@type": "GeoCoordinates",
                 "latitude": -23.4224391,
                 "longitude": -51.9099157
             },
             "openingHoursSpecification": [{
                 "@type": "OpeningHoursSpecification",
                 "dayOfWeek": [
                     "Monday",
                     "Tuesday",
                     "Wednesday",
                     "Thursday",
                     "Friday"
                 ],
                 "opens": "08:00",
                 "closes": "18:00"
             },{
                 "@type": "OpeningHoursSpecification",
                 "dayOfWeek": "Saturday",
                 "opens": "08:00",
                 "closes": "13:00"
             },{
                 "@type": "OpeningHoursSpecification",
                 "dayOfWeek": "Saturday",
                 "opens": "08:00",
                 "closes": "13:00"
             }],
             "sameAs": [
                 "https://www.facebook.com/altogirooficial",
                 "https://www.instagram.com/altogiro/",
                 "https://www.youtube.com/user/altogirooficial",
                 "https://www.linkedin.com/company/alto-giro",
                 "https://www.altogiro.net/"
             ] 
         }
     </script>
 </head>
 
 <body id="institucional-page">
 
     <div id="app">
     
         <vtex:template id="AG-Header" />
     
         <main id="ag-pagina-marca">
           <div class="ag-pagina-conteudo">
                 <div class="ag-box-conteudo">
                     <h1 class="ag-titulo">Sobre a Alto Giro</h1>
         
                     <div class="ag-texto ag-texto-right">
                         <p>
                             A Alto Giro, do grupo Recco Co, está no mercado há 34 anos, atuando na confecção de roupa fitness e praia. Comercializando através de lojas próprias e multimarcas. Essa é a recompensa de um trabalho sério e dedicado, fundamentada em princípios cristãos. Construída com sinergia entre seus fornecedores e colaboradores. A Alto Giro prima por produzir com qualidade, tornando-se assim uma empresa competitiva e de olhos em novos mercados e possibilidades. E hoje é reconhecida pela gestão ética, responsabilidade social e valorização de pessoas.
                         </p>
                     </div>
         
                     <img class="ag-bn-marca" src="/arquivos/marca-sabrina-2.jpg" alt="Marca- Sabrina Sato 2"/>
                 </div>
         
                 <div class="ag-box-conteudo">
                     <img class="ag-bn-marca" src="/arquivos/marca-sabrina.jpg" alt="Marca- Sabrina Sato"/>
                     
                     <div class="ag-texto">
                         <p>
                             Para que os designers possam executar com criatividade seu trabalho de desenvolvimento de novos produtos é necessário que toda a cadeia produtiva esteja em constante evolução e, neste cenário, o investimento em maquinários de precisão com maior eficiência na produção é algo constante na Alto Giro; gerando maior qualidade na produção. A inspiração para a produção vem de diversas fontes (tendências de moda, história, cultura,arte, música, eventos e etc), mas a principal é o mercado, ele reflete o momento que vivemos e que o consumidor procura. A linha alto giro é desenvolvida pensando na mulher com toda a sua versatilidade e flexibilidade que tem várias atividades ao longo do dia e necessita de um look confortável, onde ela possa ir para um treino na academia ou ao ar livre, mas também atenda às suas necessidades em qualquer lugar, a qualquer hora do dia.
                         </p>
                     </div>
                 </div>
             </div>
         </main>
         <vtex:template id="AG-Footer" />
     </div>
 </body>
     <vtex:template id="AG-commonScripts" />
 </html>