<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
 
 <head>
     <vtex:contentPlaceHolder id="custom_title" />
     <vtex:metaTags/>
 
     <link href="/arquivos/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
     <link href="/arquivos/ion.rangeSlider.skinHTML5.css" rel="stylesheet" type="text/css" />
     <script src="/arquivos/ion.rangeSlider.min.js"></script>
 
     <vtex:template id="NB-commonStyles" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 </head>
 
 <body id="departament-page">
 
     <div id="main" class="when-mobile">
         <!--  SubTemplate: Header -->
             <vtex:template id="NB-Header" />
             <!-- /SubTemplate: Header -->
                     
         <div class="spacer-menu-fixed"></div>
         <section class="block-header-pages">
             <div class="background-block-header-pages hide-only-small">
                 <img src="/arquivos/categoria-geral.png"></img>
             </div>
             <div class="wrapper-block-header-pages">
                 <div class="container wrapper w-100">
                     <div class="content-block-header-pages span7 m-span10 s-span12">
                         <vtex.cmc:breadCrumb />
                         <vtex.cmc:searchTitle />
                         <vtex:contentPlaceHolder id="descricao_pagina" />
                     </div>
                 </div>
             </div>
         </section>
         <div class="spacer120"></div>
         <div>
             <section class="block-products container">
                 <div class="wrapper wrapper-gap">
                     <div class="span3 m-span12 s-span12">
                         <div class="bar-filter">
                             <h2>Filtros</h2>
                         </div>
                         <vtex.cmc:singleDepartmentNavigator />
                     </div>
                     <div class="span9 m-span12 s-span12">
                         <vtex.cmc:searchResult layout="37158f0d-a292-4b3c-8dae-93640f43bbd6" itemCount="12"     columnCount="3" />
                     </div>
 
                 </div>
             </section>
         </div>
         
         <vtex:template id="NB-Footer" />
 
     </div>
 
 </body>
     <vtex:template id="NB-commonScripts" />
 </html>