<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
 
 <head>
    <vtex:contentPlaceHolder id="htmlSeo" />
     <vtex:template id="NB-commonStyles" />
     <!-- css -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 </head>
 
 <body>
 
     <div id="app">
 
         <!--  SubTemplate: Header -->
         <vtex:template id="NB-Header" />
         <!-- /SubTemplate: Header -->
                     
         <main id="main" class="home-page when-mobile">
                     
             <div class="fullbanner">
                 <vtex:contentPlaceHolder id="bannersegmentado" />
             </div><!-- .fullbanner -->
                     
             <div id="primeiro-cluster">
                <div class="nb-container">
                    <h1 class="h1">CONHEÇA UM NOVO ESTILO EM MODA PRAIA</h1>
                </div>
                 <div class="block-gallery-photos">
                     <div class="grid-gallery-photos nb-container">
                         <!-- SLIDE COLLECTION SABRINA SATO -->
                         <div class="slider-grid-gallery-photos swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events" id="slide-collection-grid-home">
                             <div class="swiper-wrapper">
                                 <div class="swiper-slide">
                                     <img src="/arquivos/banner-new-beach-colecao-2-left.jpg" alt="Sabrina Sato"></img>
                                 </div>
                                 <div class="swiper-slide">
                                     <img src="/arquivos/banner-new-beach-colecao-2-left.jpg" alt="Thássia Naves"></img>
                                 </div>
                             </div>
                             <div class="slider-grid-gallery-photos-info">
                               <h2>SUN WEAR</h2>
                               <div class="slider-grid-gallery-photos-navigation">
                                 <div class="swiper-button-next"></div>
                                 <div class="swiper-button-prev"></div>
                               </div>
                             </div>
                             <div class="slider-grid-gallery-photos-pagination swiper-pagination"></div>
                         </div><!-- END SLIDE -->
 
                         <div class="nb-column2-grid">
                             <img src="/arquivos/banner-new-beach-colecao-2-mid.jpg" alt="Sabrina Sato" class="grid-gallery-photo02"></img>
                             <div class="grid-gallery-photo04">
                                 <p>Peças radiantes te esperam nesta collab
                                     
                                 </p> 
                                 <a href="/lancamentos">
                                     <button class="btn-salmao">CONFIRA CAMILA COELHO</button>
                                 </a>
                             </div>
                         </div>
                     
                         <div class="nb-column3-grid">
                             <img src="/arquivos/banner-new-beach-colecao-2-right-1.jpg" alt="Sabrina Sato" class="grid-gallery-photo03"></img>
                             <img src="/arquivos/banner-new-beach-colecao-2-right-2.jpg" alt="Sabrina Sato" class="grid-gallery-photo05"></img>
                         </div>
                     </div>
                 </div>
             </div>
             
             <div class="nb-container">
                 <h2 class="h2">DESTAQUES EM MODA PRAIA PARA O VERÃO</h2>
             </div>
             
              <section id="segundo-cluster" class="block-columns-itens nb-container wrapper">
                 <div class="block-columns-item span4 s-span12 text-center">
                     <a href="/new-beach/feminino/biquini" style="text-decoration:none;">
                        <div class="cross-effect">
                            <img src="/arquivos/biquini-new-beach-microfibra-cortininha.jpg" alt="Foto de modelo de frente utilizando o Biquini Microfibra Cortininha" width="380" />
                            <img src="/arquivos/biquini-new-beach-microfibra-cortininha-verso.jpg" alt="Foto de modelo de costas utilizando o Biquini Microfibra Cortininha" width="380" />
                        </div>
                        <div class="content-block-segundo-cluster">
                            <h3>Biquínis para o Verão</h3>
                            <p>Vista-se de estilo e elegância</p>
                        </div>
                     </a>
                 </div>
 
                 <div class="block-columns-item span4 s-span12 text-center">
                     <a href="/new-beach/feminino-maio-e-body" style="text-decoration:none;">
                        <div class="cross-effect">
                            <img src="/arquivos/maio-new-beach-microfibra.jpg" alt="Foto de modelo de frente utilizando o Maiô Microfibra" width="380" />
                            <img src="/arquivos/maio-new-beach-microfibra-verso.jpg" alt="Foto de modelo de costas utilizando o Maiô Microfibra" width="380" />
                        </div>
                        <div class="content-block-segundo-cluster">
                            <h3>Maiô e Body</h3>
                            <p>Vestida para o Sol em Ibiza,<br /> a modelo apresenta suas escolhas</p>
                        </div>
                     </a>
                 </div>
                 <div class="block-columns-item span4 s-span12 text-center">
                     <a href="/new-beach/feminino/saida-de-praia" style="text-decoration:none;">
                        <div class="cross-effect">
                            <img src="/arquivos/saida-de-praia-serena.jpg" alt="Foto de modelo de frente utilizando o vestido Serena, que faz parte da coleção Saída de Praia" width="380" />
                            <img src="/arquivos/saida-de-praia-serena-verso.jpg" alt="Foto de modelo de costas utilizando o vestido Serena, que faz parte da coleção Saída de Praia" width="380" />
                        </div>
                        <div class="content-block-segundo-cluster">
                            <h3>New Beach Serena</h3>
                            <p>Estilo e segurança <br />para seu look de praia</p>
                        </div>
                     </a>
                 </div>
             </section>
             <div class="spacer80"></div>
             <section class="bkg-salmao">
                 <div class="container wrapper">
                     <div class="span1 hide-only-small"></div>
                     <div class="span9 s-span12">
                         <div class="block-info-image block-info-image-left">
                             <a href="/new-beach/feminino/plus-size" style="text-decoration:none;color:#000">
                                 <img src="/arquivos/new-beach-colecao-praia-plus-size.jpg" class="hover-effect" alt="Mulher usando roupa fitness plus size"></img>
                                 <div class="block-info-image-content">
                                     <div class="title">
                                         <h2>Plus<br /> Size</h2>
                                     </div>
                                     <div class="description">
                                         <p>Conforto, segurança e muito estilo</p>
                                     </div>
                                 </div>
                             </a>
                         </div>
                     </div>
                     <div class="span2 hide-only-small"></div>
                 </div>
         
                 <div class="container wrapper">
                     <div class="span1 hide-only-small"></div>
                     <div class="span9 s-span12">
                         <div class="block-info-image block-info-image-right">
                             <a href="/lancamentos" style="text-decoration:none;color:#000">
                                 <img src="/arquivos/new-beach-colecao-moda-praia.jpg" class="hover-effect" alt="Mulher praticando yoga"></img>
                                 <div class="block-info-image-content">
                                     <div class="title">
                                         <h2>Coleção<br /> #02</h2>
                                     </div>
                                     <div class="description">
                                         <p>Um convite para ressignificar e encarar antigos conceitos com novos olhares</p>
                                     </div>
                                 </div>
                             </a>
                         </div>
                     </div>
                     <div class="span2 hide-only-small"></div>
                 </div>
             </section>
             <div class="spacer80"></div>
             <section class="container">
               <div class="showcase-default showcase-owl prateleira-lancamentos">
                     <vtex:contentPlaceHolder id="Lançamentos" />
                 </div>
             </section>
             <div class="spacer80"></div>
             <section class="block-video-fullwidth">
                <a href="/new-beach/cia-do-broto">
                    <img src="/arquivos/banner-nb-cia-do-broto.jpg" alt="banner-nb-cia-do-broto" />
                </a>
             </section>
             <!-- <div class="fullbanner">
                 <vtex:contentPlaceHolder id="bannervideo" />
             </div> .fullbanner -->
             <div class="spacer120"></div>
             <section id="nb-instagram-block">
                 <div class="nb-linha-titulo container">
                     <div class="block-instagram-head">
                         <h2>Comunidade #newbeach</h2> 
                         <p>
                             <a href="https://www.instagram.com/newbeach_oficial/?hl=pt-br">@newbeach_oficial</a>
                         </p>
                     </div>
                 </div> 
                 <div id="instafeed"></div>
                 <div class="spacer80"></div>
             </section>
             <!-- <vtex:template id="NB-Newsletter" /> -->
         </main><!-- #content -->  
                     
         <!--  SubTemplate: Footer -->
         <vtex:template id="NB-Footer" />
         <!-- /SubTemplate: Footer -->
     
     </div><!-- .container-fluid -->
 </body>
     <vtex:template id="NB-commonScripts" />
     <script src="/arquivos/nb-home.js?v=1633634427" rel="preconnect"></script>
    <script src="https://cdn.rawgit.com/stevenschobert/instafeed.js/master/dist/instafeed.min.js" rel="preconnect"></script>
    <script src="https://altogirorc.vteximg.com.br/arquivos/nb-instagram.min.js?v=1633634041" rel="preconnect"></script>
 </html>