<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
 
 <head>
     <vtex:metaTags/>
     <vtex.cmc:TitleNossasLojas/>
     <vtex:template id="NB-commonStyles" />
     <link href="/arquivos/perguntas-frequentes.css" rel="stylesheet" type="text/css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 </head>
 
 <body id="institucional-page">
 
     <div id="app">
     
         <vtex:template id="NB-Header" />
         
         <main id="ag-nossas-lojas">
           <section class="block-header-pages">
         
             <div id="ag-nossas-lojas-img-holder" class="background-block-header-pages hide-only-small">
               <img style="width:100% !important" src="/arquivos/bcg-title-pages-3.jpg"></img>
             </div>
         
             <div class="wrapper-block-header-pages">
               <div class="container wrapper w-100">
                 <div class="content-block-header-pages span7 m-span10 s-span12">
                   <h3>Nossas lojas</h3>
                   <p class="description">Descubra onde estamos e conheça cada uma das nossas lojas.</p>
                 </div>
               </div>
             </div>
           </section>
         
           <section id="ag-encontre-new-beach" class="ag-container">
             <h2>Encontre a alto giro mais próxima de você.</h2>
           </section>
         
           <section class="ag-container ag-flex ag-container-lojas">
         
             <div class="ag-store-card">
               <figure class="ag-store-card-img">
                   <img src="/arquivos/nossas-lojas-deville.png" class="ag-image"></img>
               </figure>
               <div class="ag-inside">
                 <h4>LOJA DEVILLE</h4>
         
                 <a href="tel:554430280505" class="ag-flex">
                   <img src="/arquivos/icon-fone-store.svg" alt="Loja Deville"></img>
                   (44) 3028 0505
                 </a>
         
                 <p>
                 Maringá-PR<br />
                   Av. Herval, 26
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-1">
                   <img src="/arquivos/icon-bussola-store.svg" alt=""></img>
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>
         
             <div class="ag-store-card">
                 <figure class="ag-store-card-img">
                     <img src="/arquivos/nossas-lojas-maringapark.png" class="ag-image"></img>
                 </figure>
               
               <div class="ag-inside">
                 <h4>MARINGÁ PARK SHOPPING</h4>
         
                 <a href="tel:554430340551" class="ag-flex">
                   <img src="/arquivos/icon-fone-store.svg" alt="Loja Maringá Park"></img>
                   (44) 3034-0551
                 </a>
         
                 <p>
                   Maringá-PR<br />
                   Av. São paulo, 1099, centro
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-2">
                   <img src="/arquivos/icon-bussola-store.svg" alt=""></img>
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>
         
             <div class="ag-store-card">
                 <figure class="ag-store-card-img">
                     <img src="/arquivos/nossas-lojas-catuaimaringa.png" class="ag-image"></img>
                 </figure>
               
               <div class="ag-inside">
                 <h4>CATUAI SHOPPING MARINGÁ</h4>
         
                 <a href="tel:551137140382" class="ag-flex">
                   <img src="/arquivos/icon-fone-store.svg" alt=""></img>
                   (44) 3123-5185
                 </a>
         
                 <p>
                   Maringá-PR<br />
                   Av. Colombo, 9161
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-3">
                   <img src="/arquivos/icon-bussola-store.svg" alt=""></img>
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>
         
             <div class="ag-store-card">
                 <figure class="ag-store-card-img">
                     <img src="/arquivos/nossas-lojas-lojamatriz.png" class="ag-image"></img>
                 </figure>
               <div class="ag-inside">
                 <h4>LOJA MATRIZ</h4>
         
                 <a href="tel:554430330104" class="ag-flex">
                   <img src="/arquivos/icon-fone-store.svg" alt=""></img>
                   (44) 3033-0104
                 </a>
         
                 <p>
                   Maringá-PR<br />
                   Av. Gaspar Ricardo, 471
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-4">
                   <img src="/arquivos/icon-bussola-store.svg" alt=""></img>
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>
         
             <div class="ag-store-card">
               
                 <figure class="ag-store-card-img">
                     <img src="/arquivos/nossas-lojas-parkbarigui.png" class="ag-image"></img>
                 </figure>
               <div class="ag-inside">
                 <h4>PARK SHOPPING BARIGUI</h4>
         
                 <a href="tel:554133176415" class="ag-flex">
                   <img src="/arquivos/icon-fone-store.svg" alt=""></img>
                   (41) 3317-6415
                 </a>
         
                 <p>
                   Curitiba-PR<br />
                   R. Prof Pedro Viriato P. DE Souza, 60
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-5">
                   <img src="/arquivos/icon-bussola-store.svg" alt=""></img>
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>
         
             <div class="ag-store-card">
                 <figure class="ag-store-card-img">
                     <img src="/arquivos/nossas-lojas-boulevardlondrina.png" class="ag-image"></img>
                 </figure>
               <div class="ag-inside">
                 <h4>BOULEVARD LONDRINA SHOPPING</h4>
         
                 <a href="tel:554333390222" class="ag-flex">
                   <img src="/arquivos/icon-fone-store.svg" alt=""></img>
                   (43) 3339-0222
                 </a>
         
                 <p>
                   Londrina-PR<br />
                   Av. Theodoro Victorelli, 150 - Carlota
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-6">
                   <img src="/arquivos/icon-bussola-store.svg" alt=""></img>
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>
         
             <div class="ag-store-card">
               <figure class="ag-store-card-img">
                     <img src="/arquivos/nossas-lojas-shoppingcontinental.png" class="ag-image"></img>
                 </figure>
               <div class="ag-inside">
                 <h4>CATUAI SHOPPING LONDRINA</h4>
         
                 <a href="tel:554333286250" class="ag-flex">
                   <img src="/arquivos/icon-fone-store.svg" alt=""></img>
                   (43) 3328-6250
                 </a>
         
                 <p>
                   Londrina-PR<br />
                   Rod. Celso Garcia Cid, 5600
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-7">
                   <img src="/arquivos/icon-bussola-store.svg" alt=""></img>
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>
         
             <div class="ag-store-card">
                 <figure class="ag-store-card-img">
                     <img src="/arquivos/nossas-lojas-shoppingmorumbi.png" class="ag-image"></img>
                 </figure>
               <div class="ag-inside">
                 <h4>MORUMBI ACADEMIA BIO RITMO</h4>
         
                 <a href="tel:551137393710" class="ag-flex">
                   <img src="/arquivos/icon-fone-store.svg" alt=""></img>
                   (11) 3739-3710
                 </a>
         
                 <p>
                   São Paulo-SP<br />
                   Av. Giovanni Gronchi,4415
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-8">
                   <img src="/arquivos/icon-bussola-store.svg" alt=""></img>
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>
         
             <!--<div class="ag-store-card">
               <figure class="ag-store-card-img">
                     <img pwa-src="nossas-lojas-balnearioshopping" class="ag-image">
                 </figure>
               <div class="ag-inside">
                 <h4>BALNEÁRIO SHOPPING LJ 208</h4>
         
                 <a href="tel:554730627973" class="ag-flex">
                   <img pwa-src="icon-fone-store" alt="">
                   (47) 30627973
                 </a>
         
                 <p>
                   Balneário Camboriú-SC<br />
                   Av. santa Catarina N 1
                 </p>
         
                 <a class="ag-flex" id="ag-mapa-opcao-9">
                   <img pwa-src="icon-bussola-store" alt="">
                   <strong>Como chegar</strong>
                 </a>
               </div>
             </div>-->
         
           </section>
     
         </main>
         <vtex:template id="NB-Footer" />
     </div>
 </body>
     <vtex:template id="NB-commonScripts" />
 </html>