<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

 <!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce" lang="en-us">
 
 <head>
     <vtex:metaTags/>
     <vtex:template id="NB-commonStyles" />
     <link href="/arquivos/perguntas-frequentes.css" rel="stylesheet" type="text/css" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
 </head>
 
 <body id="institucional-page">
 
     <div id="app">
     
         <vtex:template id="NB-Header" />
         
         <main id="ag-privacidade">
             <!-- SECTION BANNER -->
             <section class="block-header-pages">
                 <div id="ag-category-img-holder" class="background-block-header-pages hide-only-small">
                     <img src="/arquivos/banner-trocas-devolucoes.png"></img>
                 </div>
         
                 <div class="wrapper-block-header-pages">
                     <div class="container wrapper w-100">
                         <div class="content-block-header-pages span7 m-span10 s-span12">
         
                             <h1 class="title">Privacidade</h1>
                             <p class="description">
                                 Precisa de ajuda? Escolha umas das opções abaixo para que possamos te ajudar a resolver qualquer problema. Se desejar 
                                 falar conosco, acesse a seção “Contato” e escolha o melhor meio para começarmos nossa conversa agora mesmo.
                             </p>
         
                             <!-- SECTION LIST LINKS PAGE -->
                             <ul class="ag-list-pages">
                                 <div>
                                     <li><a pwa-to-page="/perguntas-frequentes">Perguntas frequêntes</a></li>
                                     <li><a pwa-to-page="/trocas-e-devolucoes">Trocas e devoluções</a></li>
                                     <li><a pwa-to-page="/pagamento">Pagamento</a></li>
                                 </div>
                                 
                                 <div>
                                     <li><a pwa-to-page="/nossas-lojas">Nossas Lojas</a></li>
                                     <li><a pwa-to-page="/privacidade">Privacidade</a></li>
                                     <li  id="ag-link-contact"><a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=554499351237" target="_blank">CONTATO <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                                 </div>
                             </ul>
                         </div>
                     </div>
                 </div>
             </section>
         
             <!-- SECTION EXCHANGES AND DEVOLUTIONS -->
             <section class="ag-devolution-exchanges container">
                 <div class="ag-devol__exchan-content">
                     <h2 class="ag-title-content">POLÍTICA DE PRIVACIDADE</h2>
         
                     <p class="ag-desc-text">A Alto Giro compromete-se com a segurança de informação de seus clientes em relação aos dados e informações coletadas. Por isso, 
                         apresentamos nossa política de privacidade e segurança, que tem por objetivo esclarecer o uso dessas informações. Navegar no site 
                         www.altogiro.net implica na aceitação total e irrestrita das práticas descritas nesta política de privacidade.</p>
         
                     <h3 class="ag-subtitle-text">Privacidade</h3>
                     <p class="ag-desc-text ag-mt--10">Para aprimoramento da prestação de serviços e melhorarmos continuamente a experiência de navegação, coletamos 
                         informações importantes de nossos clientes.</p>
                     <ul class="ag-desc-text">
                         <li>- Dados cadastrais: nossos serviços dependem que você tenha um cadastro com uma conta de usuário. Ao se cadastrar, coletamos seu nome 
                             completo, e-mail, endereço de entrega e cobrança, telefone de contato, CPF, data de nascimento, sexo, entre outros itens; necessários para o 
                             fechamento e aprovação do pedido.</li>
                         <li>- Envio de e-mail: com a finalidade de trazer relevância para todos os nossos clientes, quando enviamos e-mails com nossa comunicação, 
                             recebemos uma notificação quando eles são abertos, desde que disponível no computador do cliente.</li>
                     </ul>
                     <p class="ag-desc-text">Além disso, armazenamos algumas informações que recebemos automaticamente toda vez que o cliente interage com nosso site e publicidades: 
                         Internet Protocol (IP), tipo de navegador e páginas visualizadas em nosso site são alguns exemplos desta coleta, que é efetuada por meio de cookies.</p>
                     <p class="ag-desc-text">Cookies são identificações da interação com nosso site ou nossas publicidades, que são transferidas para o aparelho do cliente visando reconhecê-lo na 
                         próxima navegação. Utilizamos cookies para proporcionar uma melhor experiência de navegação em nossa loja e viabilizar recursos personalizados, como 
                         recomendações de produtos, publicidades e informações adicionais de itens de interesse do cliente, por exemplo. O cliente pode desabilitar o salvamento 
                         de cookies em seu browser, deletá-los e gerenciar sua utilização por meio da configuração do navegador.</p>
                     <p class="ag-desc-text">- Controle do cliente: o cliente gerencia quais informações que deseja fornecer para nosso site; entretanto, algumas delas são essenciais para a conclusão de pedidos.</p>
                     <p class="ag-desc-text">No ato do cadastramento ou preenchimento de seu e-mail diretamente no rodapé do site no campo RECEBA NOSSAS NOVIDADES NO E-MAIL, o cliente 
                         pode optar por receber regularmente promoções por e-mail. O envio de mensagens eletrônicas se dará somente com o consentimento do cliente e 
                         poderá ser desativado a qualquer momento, solicitando o descadastro do seu e-mail. Você pode cancelar seu cadastro da seguinte forma: em todos 
                         os e-mails promocionais da Alto Giro estará disponível para você um link para cancelamento da assinatura com a seguinte frase: “Caso não queira 
                         mais receber nossos e-mails remova aqui”. É só clicar no link “descadastre-se” e sua assinatura para recebimento de promoções será cancelado do 
                         nosso banco de dados. Caso preferir você pode entrar em contato também através de nosso SAC, Whatsapp, e-mail ou telefone. A atualização e 
                         fornecimento correto dos dados no cadastramento são de inteira responsabilidade do cliente. Se desejar, o cliente pode cancelar seu cadastro entrando 
                         em contato com nossa Central de Relacionamento.</p>
                     
                     <h3 class="ag-subtitle-text">SEGURANÇA: </h3>
                     <p  class="ag-desc-text">- Segurança da informação: todas as transações de pagamento, com cartão de crédito, são executadas com a tecnologia 
                             SSL (Secure Socket Layer), garantindo que todos os dados pessoais do cliente, tais como, endereço de entrega, dados de 
                             cartão de crédito e histórico de pedidos, jamais sejam divulgados. Além disso, essa tecnologia visa impedir que as informações
                              sejam transmitidas ou acessadas por terceiros.</p>
                     
                     <p  class="ag-desc-text">Orientamos nossos clientes a protegerem suas informações contra acesso não autorizado ao seu computador, conta ou 
                             senha. É importante se certificar de sempre clicar em “sair” ao encerrar sua navegação em um computador compartilhado.</p>
         
                     <p  class="ag-desc-text">A Alto Giro alerta a todos os clientes que nunca enviará mensagens eletrônicas solicitando confirmação de dados ou com 
                             anexos que possam ser executados (extensões: .exe, .com, entre outros) ou ainda links para eventuais downloads.</p>
                 </div>
             </section>
         </main>
 
         <vtex:template id="NB-Footer" />
     </div>
 </body>
     <vtex:template id="NB-commonScripts" />
 </html>